/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e9983d;
  --ifm-color-primary-dark: #d88736;
  --ifm-color-primary-darker: #c97830;
  --ifm-color-primary-darkest: #a96127;
  --ifm-color-primary-light: #f0a44a;
  --ifm-color-primary-lighter: #f3ad52;
  --ifm-color-primary-lightest: #f7bb61;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffb366;
  --ifm-color-primary-dark: #e69c5c;
  --ifm-color-primary-darker: #cc8f53;
  --ifm-color-primary-darkest: #996b40;
  --ifm-color-primary-light: #ffbf73;
  --ifm-color-primary-lighter: #ffc680;
  --ifm-color-primary-lightest: #ffd699;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}