openapi: 3.0.3
info:
  title: BRC20 Prog API
  version: 1.0.0
  description: >-
    BRC20 Prog API provides comprehensive BRC20-Prog token data query services, including token information, holder data, historical records, and more.
    BRC20-Prog interfaces are Bitcoin-only and are intended for 6-character BRC20-Prog tickers. Classic BRC-20 tickers such as ordi should use the /v1/indexer/brc20/* interfaces instead.
    The system uses global memory caching technology to quickly respond to various query requests and supports efficient filtering queries based on indexes.
  contact:
    email: contact@brc20-prog.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-signet.unisat.io
tags:
  - name: BRC20-Prog Indexer
    description: Bitcoin-only BRC20-Prog 6-character ticker indexing APIs
paths:
  /v1/indexer/brc20-prog/bestheight:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getBestHeight
      summary: "Get BRC20-Prog indexer height for Bitcoin"
      description: >-
        Returns the latest Bitcoin block height, block hash, and timestamp indexed for BRC20-Prog. Use it to check indexer freshness before querying 6-character BRC20-Prog tickers; this API is Bitcoin-only and should not be used for Classic BRC-20 tokens.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TickerBestHeightInfo"

  /v1/indexer/brc20-prog/list:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerList
      summary: "List indexed 6-character BRC20-Prog tickers"
      description: >-
        Returns paginated BRC20-Prog ticker symbols with indexed height, total, and start offset. Use this for Bitcoin-only BRC20-Prog discovery and route Classic BRC-20 tickers such as ordi to the /v1/indexer/brc20/* APIs.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: not-recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20, max 500"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TickerListResp"

  /v1/indexer/brc20-prog/status:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerStatus
      summary: "Search BRC20-Prog ticker status and mint state"
      description: >-
        Returns BRC20-Prog status records including deployment inscription, max supply, minted supply, holder and transaction counts, decimals, and mint completion state. Use it for 6-character ticker discovery, filtering, and ranking on Bitcoin; indexer data may lag new block confirmations.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: ticker
          in: query
          description: "Filter by 6-character BRC20-Prog ticker name. Do not use classic BRC-20 tickers such as ordi here."
          required: false
          schema:
            type: string
        - name: complete
          in: query
          description: "Filter by mint status"
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
              - all
        - name: sort
          in: query
          description: "Sort field"
          required: false
          schema:
            type: string
            enum:
              - holders
              - deploy
              - transactions
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TickerStatusResp"

  /v1/indexer/brc20-prog/{ticker}/info:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerInfo
      summary: "Get BRC20-Prog ticker deployment and supply details"
      description: >-
        Returns Bitcoin-only BRC20-Prog ticker metadata such as original tick, max supply, remaining supply, burned supply, decimals, deploy inscription, creator address, and mint counters. Use it for 6-character BRC20-Prog detail pages; Classic BRC-20 tickers are not supported here.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20Ticker"

  /v1/indexer/brc20-prog/history-by-height/{height}:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerHistoryByHeight
      summary: "List BRC20-Prog events indexed at a Bitcoin height"
      description: >-
        Returns BRC20-Prog history events for one block height with ticker, transaction, event type, inscription, amount, balance, and validity data. Use it for Bitcoin block-level audits or backfills; data is read-only indexer state and may depend on confirmation progress.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: height
          in: path
          description: "Block height"
          required: true
          schema:
            type: integer
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BRC20TickerHistoryInfo"

  /v1/indexer/brc20-prog/{ticker}/holders:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerHolders
      summary: "List holders and balances for a BRC20-Prog ticker"
      description: >-
        Returns holder addresses with overall, transferable, and available balances for a 6-character BRC20-Prog ticker. Use it for holder distribution and balance checks on Bitcoin; it reports indexed balances only and performs no signing or transfer action.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TickerHoldersResp"

  /v1/indexer/brc20-prog/{ticker}/history:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getTickerHistory
      summary: "List BRC20-Prog history events for a ticker"
      description: >-
        Returns deploy, mint, transfer, and BRC20-Prog withdrawal events for a 6-character ticker, including event type, block height, transaction, inscription, amount, balance, and validity fields. Use it for token activity feeds or reconciliation; this is read-only Bitcoin indexer data.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: "Filter by event type"
          required: false
          schema:
            type: string
            enum:
              - deploy-inscribe
              - transfer
              - inscribe-mint
              - inscribe-transfer
              - brc20prog-withdraw-inscribe
              - brc20prog-withdraw-transfer
        - name: height
          in: query
          description: "Filter by block height"
          required: false
          schema:
            type: integer
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TickerHistoryResp"

  /v1/indexer/address/{address}/brc20-prog/summary:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getAddressTokenSummary
      summary: "List an address's BRC20-Prog token balances"
      description: >-
        Returns paginated BRC20-Prog balance summaries for a Bitcoin address, including indexed height, module height, ticker, decimals, overall, transferable, available, and module balances. Use it for Bitcoin-only wallet portfolio views; Classic BRC-20 balances require the brc20 indexer API.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address"
          required: true
          schema:
            type: string
        - name: ticker
          in: query
          description: "Filter by 6-character BRC20-Prog ticker name. Do not use classic BRC-20 tickers such as ordi here."
          required: false
          schema:
            type: string
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TokenSummaryResp"

  /v1/indexer/address/{address}/brc20-prog/ticker/{ticker}/balance:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getAddressTickerBalance
      summary: "Get an address's current BRC20-Prog ticker balance"
      description: >-
        Returns current indexed balance fields for one Bitcoin address and 6-character BRC20-Prog ticker, including overall, transferable, available, module balance, decimals, and self-mint state. Use it before displaying or preparing token actions; it reports state only and does not verify spend authorization.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address"
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TokenSummaryInfo"

  /v1/indexer/address/{address}/brc20-prog/ticker/{ticker}/balance-by-height/{height}:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getAddressTickerBalanceByHeight
      summary: "Get an address's BRC20-Prog ticker balance at a height"
      description: >-
        Returns historical indexed balance fields for one Bitcoin address and 6-character BRC20-Prog ticker at a specific block height, including overall, transferable, and available balances. Use it for snapshots or reconciliation; historical balances may not reflect current spendability.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address"
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
        - name: height
          in: path
          description: "Block height"
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/BRC20TokenSummaryInfoBase"

  /v1/indexer/address/{address}/brc20-prog/ticker/{ticker}/transferable-inscriptions:
    get:
      tags:
        - BRC20-Prog Indexer
      operationId: getAddressTickerTransferableInscriptions
      summary: "List transferable BRC20-Prog inscriptions for an address"
      description: >-
        Returns unused transferable inscriptions for a Bitcoin address and 6-character BRC20-Prog ticker, including inscription id, amount, holder script or wallet, event id, block height, and inscription number. Use it to choose transfer candidates; callers must still validate UTXO ownership, confirmation policy, and signing context before spending.
      x-unisat-domain: brc20-prog
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Bitcoin-only read-only BRC20-Prog query for 6-character tickers.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address"
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: "6-character BRC20-Prog ticker. Classic BRC-20 tickers such as ordi are not supported by brc20-prog endpoints."
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: "Start offset, default 0"
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: "Number of items returned, default 20"
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 20
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                      start:
                        type: integer
                      height:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20UnusedTxInfo"

components:
  schemas:
    BRC20TickerBestHeightInfo:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        blockid:
          type: string
          example: "0000000000000000000000000000000000000000000000000000000000000000"
        timestamp:
          type: integer
          example: 1703123456

    BRC20TickerListResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        total:
          type: integer
          example: 100
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            type: string
          example: ["abc123", "def456", "ghi789"]

    BRC20TickerStatusInfo:
      type: object
      properties:
        ticker:
          type: string
          example: "abc123"
        selfMint:
          type: boolean
          example: false
        holdersCount:
          type: integer
          example: 15000
        historyCount:
          type: integer
          example: 50000
        inscriptionNumber:
          type: integer
          format: int64
          example: 123456
        inscriptionId:
          type: string
          example: "1234567890abcdef"
        max:
          type: string
          example: "21000000"
        limit:
          type: string
          example: "1000"
        minted:
          type: string
          example: "21000000"
        totalMinted:
          type: string
          example: "21000000"
        confirmedMinted:
          type: string
          example: "21000000"
        confirmedMinted1h:
          type: string
          example: "1000"
        confirmedMinted6h:
          type: string
          example: "5000"
        confirmedMinted24h:
          type: string
          example: "20000"
        mintTimes:
          type: integer
          format: uint32
          example: 21000
        decimal:
          type: integer
          format: uint8
          example: 8
        creator:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        txid:
          type: string
          example: "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
        deployHeight:
          type: integer
          format: uint32
          example: 767430

    BRC20TickerStatusResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        total:
          type: integer
          example: 1
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            $ref: "#/components/schemas/BRC20TickerStatusInfo"

    BRC20TickerInfoWithHeatMap:
      type: object
      properties:
        ticker:
          type: string
          example: "abc123"
        count:
          type: integer
          example: 1000
        statusInfo:
          $ref: "#/components/schemas/BRC20TickerStatusInfo"

    BRC20TickerHeatMapResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        total:
          type: integer
          example: 100
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            $ref: "#/components/schemas/BRC20TickerInfoWithHeatMap"

    BRC20Ticker:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        originalTick:
          type: string
          example: "abc123"
        tick:
          type: string
          example: "abc123"
        maxSupply:
          type: string
          example: "21000000"
        decimals:
          type: integer
          example: 8
        limitPerMint:
          type: string
          example: "1000"
        remainingSupply:
          type: string
          example: "0"
        burnedSupply:
          type: string
          example: "0"
        isSelfMint:
          type: boolean
          example: false
        deployInscriptionId:
          type: string
          example: "1234567890abcdef"
        blockHeight:
          type: integer
          description: "Block height"
          example: 767430
        inscriptionNumber:
          type: integer
          format: int64
          example: 123456
        mintTimes:
          type: integer
          format: uint32
          example: 21000
        mintedSupply:
          type: string
          example: "21000000"
        txid:
          type: string
          example: "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
        creatorAddress:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"

    BRC20HistoryEvent:
      type: object
      properties:
        tick:
          type: string
          example: "abc123"
        original_tick:
          type: string
          example: "abc123"
        minted_pkScript:
          type: string
          example: "001234567890abcdef"
        minted_wallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        amount:
          type: string
          example: "1000"
        parent_id:
          type: string
          example: "1234567890abcdef"
        deployer_pkScript:
          type: string
          example: "001234567890abcdef"
        deployer_wallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        max_supply:
          type: string
          example: "21000000"
        limit_per_mint:
          type: string
          example: "1000"
        is_self_mint:
          type: string
          example: "false"
        predeployer_pkScript:
          type: string
          example: "001234567890abcdef"
        predeployer_wallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        hash:
          type: string
          example: "1234567890abcdef"
        source_pkScript:
          type: string
          example: "001234567890abcdef"
        source_wallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        spent_pkScript:
          type: string
          example: "001234567890abcdef"
        spent_wallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        data:
          type: string
          example: "data"
        base64_data:
          type: string
          example: "ZGF0YQ=="
        contract_address:
          type: string
          example: "0x1234567890abcdef"
        contract_inscription_id:
          type: string
          example: "1234567890abcdef"
        byte_len:
          type: integer
          example: 4
        using_tx_id:
          type: string
          example: "1234567890abcdef"

    BRC20TickerHistoryInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        ticker:
          type: string
          example: "abc123"
        type:
          type: string
          enum:
            - inscribe-deploy
            - inscribe-mint
            - inscribe-transfer
            - transfer
            - send
            - receive
          example: "inscribe-deploy"
        txid:
          type: string
          example: "1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
        vout:
          type: integer
          format: uint32
          example: 0
        offset:
          type: integer
          format: uint64
          example: 0
        inscriptionNumber:
          type: integer
          format: int64
          example: 123456
        inscriptionId:
          type: string
          example: "1234567890abcdef"
        from:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        to:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        amount:
          type: string
          example: "21000000"
        height:
          type: integer
          format: uint32
          description: "Block height"
          example: 800000
        event:
          $ref: "#/components/schemas/BRC20HistoryEvent"
        decimal:
          type: integer
          example: 8
        overallBalance:
          type: string
          example: "21000000"
        transferBalance:
          type: string
          example: "0"
        availableBalance:
          type: string
          example: "0"
        valid:
          type: boolean
          example: true

    BRC20TickerHistoryResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        total:
          type: integer
          example: 50000
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            $ref: "#/components/schemas/BRC20TickerHistoryInfo"

    BRC20TickerHoldersInfo:
      type: object
      properties:
        address:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        overallBalance:
          type: string
          example: "1000"
        transferableBalance:
          type: string
          example: "500"
        availableBalance:
          type: string
          example: "500"

    BRC20TickerHoldersResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        total:
          type: integer
          example: 15000
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            $ref: "#/components/schemas/BRC20TickerHoldersInfo"

    BRC20TokenSummaryInfo:
      type: object
      properties:
        ticker:
          type: string
          example: "abc123"
        selfMint:
          type: boolean
          example: false
        decimal:
          type: integer
          example: 8
        overallBalance:
          type: string
          example: "1000"
        transferableBalance:
          type: string
          example: "500"
        availableBalance:
          type: string
          example: "500"
        moduleBalance:
          type: string
          example: "0"

    BRC20TokenSummaryInfoBase:
      type: object
      properties:
        ticker:
          type: string
          example: "abc123"
        selfMint:
          type: boolean
          example: false
        decimal:
          type: integer
          example: 8
        overallBalance:
          type: string
          example: "1000"
        transferableBalance:
          type: string
          example: "500"
        availableBalance:
          type: string
          example: "500"

    BRC20TokenSummaryResp:
      type: object
      properties:
        height:
          type: integer
          example: 800000
        moduleHeight:
          type: integer
          format: int64
          example: 800000
        total:
          type: integer
          example: 5
        start:
          type: integer
          example: 0
        detail:
          type: array
          items:
            $ref: "#/components/schemas/BRC20TokenSummaryInfo"

    BRC20UnusedTxInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        inscriptionId:
          type: string
          example: "1234567890abcdef"
        tick:
          type: string
          example: "abc123"
        amount:
          type: string
          example: "1000"
        currentHolderPkscript:
          type: string
          example: "001234567890abcdef"
        currentHolderWallet:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        eventId:
          type: integer
          format: int64
          example: 1
        blockHeight:
          type: integer
          description: "Block height"
          example: 800000
        inscriptionNumber:
          type: integer
          format: int64
          example: 123456

    GetHistoryByEventIdsReqParams:
      type: object
      required:
        - address
        - eventIds
      properties:
        address:
          type: string
          example: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
        eventIds:
          type: array
          items:
            type: integer
            format: int64
          example: [1, 2, 3]

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 10003
        msg:
          type: string
          example: "Parameter error"
        data:
          type: object
          nullable: true
