openapi: 3.0.3
info:
  title: Runes Marketplace API
  version: 1.0.4
  description: >-
    This API provides endpoints for Runes marketplace services, including Rune market statistics, listing search, price information, activity history, and marketplace order workflows.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-testnet.unisat.io
  - url: https://open-api-fractal.unisat.io
  - url: https://open-api-fractal-testnet.unisat.io
tags:
  - name: Marketplace-Runes
    description: Runes Marketplace Service
paths:
  /v3/market/runes/auction/runes_types:
    post:
      operationId: getRunesTypes
      summary: List Runes market statistics
      description: Query read-only Runes marketplace statistics such as price, volume, market capitalization, holders, and transaction counts. This query-style POST only reads market data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  description: "Optional: day1, day7, day30"
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - BTCPrice
                    type: object
                    properties:
                      BTCPrice:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                            holders:
                              type: integer
                            transactions:
                              type: integer
                            warning:
                              type: boolean
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/runes_types_specified:
    post:
      operationId: getRunesTypesSpecified
      summary: Get specified Runes market statistics
      description: Query read-only marketplace statistics for a specified Runes ticker. This query-style POST only reads market data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  type: string
                tick:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick:
                        type: string
                      symbol:
                        type: string
                      curPrice:
                        type: number
                      changePrice:
                        type: number
                      btcVolume:
                        type: number
                      amountVolume:
                        type: number
                      cap:
                        type: string
                      capUSD:
                        type: string
                      deployTime:
                        type: integer
                      holders:
                        type: integer
                      number:
                        type: integer
                      transactions:
                        type: integer
                      warning:
                        type: boolean
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/list:
    post:
      operationId: getRunesAuctionList
      summary: Search Runes marketplace listings
      description: Query read-only Runes marketplace listings with filters, sorting, and pagination. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - runes
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/actions:
    post:
      operationId: getRunesAuctionActions
      summary: List Runes marketplace activity history
      description: Query read-only Runes marketplace activity history such as listings, delistings, sales, claims, and updates. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    nftType:
                      enum:
                        - runes
                      type: string
                    address:
                      type: string
                    inscriptionId:
                      type: string
                    event:
                      enum:
                        - Cancel
                        - Claim
                        - Listed
                        - Sold
                        - Updated
                      description: "Event type: Cancel, Listed, Sold, Updated"
                      type: string
                    tick:
                      type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - auctionId
                            - inscriptionId
                            - inscriptionNumber
                            - event
                            - price
                            - from
                            - to
                            - timestamp
                          type: object
                          properties:
                            auctionId:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            event:
                              enum:
                                - Listed
                                - Sold
                                - Cancel
                                - Claim
                                - Updated
                              type: string
                            price:
                              type: number
                            from:
                              type: string
                            to:
                              type: string
                              nullable: true
                            timestamp:
                              type: number
                            nftConfirmNum:
                              type: number
                            nftType:
                              enum:
                                - brc20
                                - domain
                                - collection
                              type: string
                            endMsg:
                              description: An error message generated by the order
                              type: string
                              nullable: true
                            newest:
                              description: The update order generates multiple events
                              type: boolean
                            name:
                              description: Brc20 filed
                              type: string
                              nullable: true
                            unitPrice:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            domain:
                              description: Domain filed
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain filed
                              type: string
                              nullable: true
                            domainCategorys:
                              description: Domain filed
                              type: array
                              items:
                                enum:
                                  - Keyboard
                                  - Non Keyboard
                                  - 1-99
                                  - 3D
                                  - 4D
                                  - 5D
                                  - Single Emoji
                                  - Multi Emoji
                                  - Common Word
                                  - 1 Letter + 1 Number
                                  - 2 Letters
                                  - 3 Letters
                                  - Numbers
                                type: string
                              nullable: true
                            collectionId:
                              description: Collection filed
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentType:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection filed
                              type: string
                              nullable: true
                            attributes:
                              description: Collection filed
                              type: array
                              items:
                                type: object
                                properties:
                                  trait_type:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: false
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/create_put_on:
    post:
      operationId: createRunesPutOn
      summary: Create Runes listing PSBT draft
      description: Creates a Runes listing draft and returns auctionId, PSBT, and signing indexes for the seller. Review rune UTXO, rune amount, initPrice, unitPrice, marketType, and receiving address before signing or confirming the listing.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunesMarketCreatePutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOnResponse"
  /v3/market/runes/auction/confirm_put_on:
    post:
      operationId: confirmRunesPutOn
      summary: Publish signed Runes listing
      description: Confirms the seller-signed listing PSBT and activates the Runes marketplace listing. Verify auctionId, PSBT encoding, rune amount, listing price, seller address, and market type before submitting.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOnResponse"
  /v3/market/runes/auction/create_bid_prepare:
    post:
      operationId: createRunesBidPrepare
      summary: Estimate Runes purchase fees and balance
      description: Returns pre-purchase fee estimates, available balances, network fee rate, transaction size, and inscription value for a Runes auction. This is a quote/material preparation step only; before any later purchase submission, verify auctionId, bidPrice, buyer address, feeRate, and rune amount.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Quote-only marketplace step: safe to call without confirmation, but do not treat the returned estimate as a purchase.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidPrepareResponse"
  /v3/market/runes/auction/create_bid:
    post:
      operationId: createRunesBid
      summary: Create Runes purchase PSBT order
      description: Creates a Runes marketplace purchase order and returns bidId, PSBT data, signing indexes, server/network fees, feeRate, and inscription value. Confirm auctionId, bidPrice, buyer address, rune name/amount, and fee totals before requesting signatures.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidResponse"
  /v3/market/runes/auction/confirm_bid:
    post:
      operationId: confirmRunesBid
      summary: Submit signed Runes purchase order
      description: Submits the signed Runes purchase PSBT and returns the settlement transaction id when accepted. Before calling, verify auctionId, bidId, PSBT content, final price, rune amount, buyer/seller addresses, and fee values because this can settle the purchase.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBidResponse"
  /v3/market/runes/auction/create_put_off:
    post:
      operationId: createRunesPutOff
      summary: Create Runes delisting PSBT draft
      description: Creates delisting signing material for an active Runes marketplace order, including PSBT/signing data when needed. Confirm auctionId, owner addresses, and rune amount before signing because the next confirmation removes the listing.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOffResponse"
  /v3/market/runes/auction/confirm_put_off:
    post:
      operationId: confirmRunesPutOff
      summary: Remove signed Runes listing
      description: Confirms signed delisting data and removes the Runes listing from the marketplace. Verify auctionId, PSBT/signature payload, owner address, and target rune amount before submitting.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOffResponse"
  /v3/market/runes/auction/create_modify_price:
    post:
      operationId: createRunesModifyPrice
      summary: Create Runes price-update PSBT draft
      description: Creates signing material to update an existing Runes listing price. Verify auctionId, current rune amount, old and new prices, seller address, and returned PSBT/sign indexes before signing.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateModifyPriceResponse"
  /v3/market/runes/auction/confirm_modify_price:
    post:
      operationId: confirmRunesModifyPrice
      summary: Apply signed Runes listing price update
      description: Confirms signed price-update data and changes the active Runes listing price. Verify auctionId, signed PSBT, rune amount, seller address, and final price before submitting.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmModifyPriceResponse"
  /v3/market/runes/auction/create_batch_put_on:
    post:
      operationId: createRunesBatchPutOn
      summary: Create batch Runes listing PSBT drafts
      description: Creates multiple Runes listing drafts and returns signing material for each listing. Verify every rune UTXO, asset amount, listing price, seller address, auctionId, and PSBT/sign index before signing.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Batch operation: verify every auctionId, bid price, and signing payload with the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchPutOnResponse"
  /v3/market/runes/auction/confirm_batch_put_on:
    post:
      operationId: confirmRunesBatchPutOn
      summary: Publish signed batch Runes listings
      description: Confirms signed PSBTs and activates multiple Runes marketplace listings. Verify every auctionId, signed PSBT, rune amount, listing price, seller address, and market type before submitting.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Batch operation: verify every auctionId, bid price, and signing payload with the user.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchPutOnResponse"
  /v3/market/runes/auction/create_batch_bid_prepare:
    post:
      operationId: createRunesBatchBidPrepare
      summary: Estimate batch Runes purchase fees
      description: Returns quote-only fee, balance, transaction-size, and valid-listing data for multiple Runes purchases. This does not submit orders; before any later batch purchase, verify every auctionId, bid price, buyer address, rune amount, and fee estimate.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Quote-only marketplace step: safe to call without confirmation, but do not treat returned estimates as purchases.
        - Batch operation: verify every auctionId, bid price, and asset amount before a later submission.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidPrepareResponse"
  /v3/market/runes/auction/create_batch_bid:
    post:
      operationId: createRunesBatchBid
      summary: Create batch Runes purchase PSBT orders
      description: Creates multiple Runes purchase orders and returns per-order signing material. Confirm every auctionId, bid price, buyer address, rune amount, feeRate, and returned PSBT/sign indexes before signing.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Batch operation: verify every auctionId, bid price, and signing payload with the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidResponse"
  /v3/market/runes/auction/confirm_batch_bid:
    post:
      operationId: confirmRunesBatchBid
      summary: Submit signed batch Runes purchases
      description: Confirms signed batch purchase PSBTs and can settle multiple Runes orders. Verify each auctionId, bidId, PSBT, final price, buyer/seller address, rune amount, and fee value before submitting.
      tags:
        - Marketplace-Runes
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Batch operation: verify every auctionId, bid price, and signing payload with the user.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchBidResponse"

components:
  schemas:
    MarketInscriptionInfoRequest:
      required:
        - inscriptionId
      type: object
      properties:
        inscriptionId:
          type: string
      additionalProperties: false
    MarketInscriptionInfoResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - inscriptionId
          type: object
          properties:
            auctionId:
              type: string
              nullable: true
            inscriptionId:
              type: string
            inscriptionNumber:
              type: number
              nullable: true
            marketType:
              type: string
              example: fixedPrice
              nullable: true
            address:
              type: string
              nullable: true
            price:
              type: number
              nullable: true
            notSupport:
              description: Domain name content support on sale
              type: boolean
            verification:
              description: Whether the collection is validated
              type: boolean
            nftType:
              type: string
              nullable: true
            tick:
              description: Brc20 field
              type: string
              nullable: true
            limit:
              description: Brc20 field
              type: number
              nullable: true
            amount:
              description: Brc20 field
              type: number
              nullable: true
            unitPrice:
              description: Brc20 field
              type: number
              nullable: true
            collectionId:
              description: Collection field
              type: string
              nullable: true
            contentType:
              description: Collection field
              type: string
              nullable: true
            contentBody:
              description: Collection field
              type: string
              nullable: true
            collectionItemName:
              description: Collection field
              type: string
              nullable: true
            collectionHighResImgUrl:
              description: Collection field
              type: string
              nullable: true
            collectionName:
              description: Collection field
              type: string
              nullable: true
            notOnSale:
              description: Collection field
              type: boolean
              nullable: true
            domain:
              description: Domain field
              type: string
              nullable: true
            domainHex:
              description: Domain field
              type: string
              nullable: true
            domainType:
              enum:
                - sats
                - unisat
                - btc
                - xbt
                - ord
                - gm
                - bitmap
                - x
                - null
              description: Domain field
              type: string
              nullable: true
            utxo:
              description: The UTXO where the inscription is located
              type: object
              properties: {}
              additionalProperties: false
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketInscriptionInfoListRequest:
      type: object
      properties:
        address:
          type: string
        inscriptionIds:
          type: array
          items:
            type: string
      additionalProperties: false
    MarketInscriptionInfoListResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - list
          type: object
          properties:
            list:
              type: array
              items:
                required:
                  - inscriptionId
                type: object
                properties:
                  auctionId:
                    type: string
                    nullable: true
                  inscriptionId:
                    type: string
                  inscriptionNumber:
                    type: number
                    nullable: true
                  marketType:
                    type: string
                    nullable: true
                  address:
                    type: string
                    nullable: true
                  price:
                    type: number
                    nullable: true
                  nftType:
                    type: string
                    nullable: true
                  status:
                    type: string
                additionalProperties: false
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreatePutOnRequest:
      required:
        - inscriptionId
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        inscriptionId:
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - auction
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false
    MarketCreatePutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - auctionId
            - psbt
            - signIndexes
          type: object
          properties:
            auctionId:
              type: string
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmPutOnRequest:
      required:
        - auctionId
        - psbt
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBidPrepareRequest:
      required:
        - auctionId
        - bidPrice
        - address
        - pubkey
      type: object
      properties:
        auctionId:
          type: string
        bidPrice:
          type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
      additionalProperties: false
    MarketCreateBidPrepareResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties:
            serverFee:
              description: Expected service fee.
              type: number
            serverReal:
              description: Real service fee.
              type: number
            serverFeeRate:
              description: Real service fee rate.
              type: number
            txSize:
              description: Estimated transaction size
              type: number
            nftValue:
              description: Satoshis carried by the inscription
              type: number
            feeRate:
              description: Network fee rate
              type: number
            availableBalance:
              description: Available confirmed balance for the user
              type: number
            allBalance:
              description: Available total balance for the user
              type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBidRequest:
      required:
        - auctionId
        - bidPrice
        - address
        - pubkey
      type: object
      properties:
        auctionId:
          type: string
        bidPrice:
          type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
        feeRate:
          description: The user sets the rate
          type: number
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
      additionalProperties: false
    MarketCreateBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - bidId
            - psbtBid
            - serverFee
            - networkFee
            - feeRate
            - nftValue
          type: object
          properties:
            bidId:
              type: string
            psbtBid:
              description: Bid psbt
              type: string
            psbtBid2:
              description: Auction mode is used, and the current empty string can be passed
              type: string
            psbtSettle:
              description: Auction mode is used, and the current empty string can be passed
              type: string
            serverFee:
              description: The service fee charged by the platform
              type: number
            networkFee:
              description: BTC network total fee
              type: number
            feeRate:
              description: BTC network fee rate
              type: number
            nftValue:
              type: number
            bidSignIndexes:
              description: Specifies the bid signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBidRequest:
      required:
        - auctionId
        - bidId
        - psbtBid
      type: object
      properties:
        auctionId:
          type: string
        bidId:
          type: string
        psbtBid:
          type: string
        psbtBid2:
          description: Auction mode is used, and the current empty string can be passed
          type: string
        psbtSettle:
          description: Auction mode is used, and the current empty string can be passed
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              description: Transaction txid
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreatePutOffRequest:
      required:
        - auctionId
      type: object
      properties:
        auctionId:
          type: string
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address.
          type: string
        btcPubkey:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. The public key used in the inscription of the order.
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
        rbf:
          type: boolean
        offChain:
          type: boolean
      additionalProperties: false
    MarketCreatePutOffResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - psbt
          type: object
          properties:
            psbt:
              type: string
            txSize:
              type: number
            btcSignIndexes:
              description: Specifies the btc signature location used by the xverse wallet
              type: array
              items:
                type: number
            nftSignIndexes:
              description: Specifies the nft signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmPutOffRequest:
      required:
        - auctionId
        - psbt
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
        offChain:
          type: boolean
      additionalProperties: false
    MarketConfirmPutOffResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateModifyPriceRequest:
      required:
        - auctionId
        - initPrice
        - unitPrice
      type: object
      properties:
        auctionId:
          type: string
        initPrice:
          type: string
        unitPrice:
          type: string
      additionalProperties: false
    MarketCreateModifyPriceResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - psbt
            - signIndexes
          type: object
          properties:
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmModifyPriceRequest:
      required:
        - auctionId
        - psbt
        - fromBase64
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          type: boolean
      additionalProperties: false
    MarketConfirmModifyPriceResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    BindInfoRequest:
      required:
        - address
      type: object
      properties:
        address:
          type: string
      additionalProperties: false
    BindInfoResponse:
      required:
        - btcAddress
        - nftAddress
      type: object
      properties:
        btcAddress:
          type: string
        nftAddress:
          type: string
      additionalProperties: false
    RunesMarketCreatePutOnRequest:
      required:
        - txid
        - index
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        txid:
          description: The txid of the rune utxo txid
          type: string
        index:
          description: The txid of the rune utxo index
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false
    AlkanesMarketCreatePutOnRequest:
      required:
        - txid
        - index
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        txid:
          description: The txid of the alkanes utxo txid
          type: string
        index:
          description: The txid of the alkanes utxo index
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false

    MarketCreateBatchPutOnRequest:
      required:
        - unitPrice
        - pubkey
      type: object
      properties:
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        nftType:
          type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
      additionalProperties: false
    MarketCreateBatchPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - auctionId
            - psbt
            - signIndexes
          type: object
          properties:
            batchAuctionId:
              type: string
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBatchPutOnRequest:
      required:
        - batchAuctionId
        - psbt
      type: object
      properties:
        batchAuctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBatchPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBatchBidPrepareRequest:
      required:
        - auctionIds
        - address
        - pubkey
      type: object
      properties:
        auctionIds:
          type: array
          items:
            type: string
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
      additionalProperties: false
    MarketCreateBatchBidPrepareResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties:
            serverFee:
              description: Expected service fee.
              type: number
            serverReal:
              description: Real service fee.
              type: number
            serverFeeRate:
              description: Real service fee rate.
              type: number
            txSize:
              description: Estimated transaction size
              type: number
            feeRate:
              description: Network fee rate
              type: number
            availableBalance:
              description: Available confirmed balance for the user
              type: number
            validAuctionIds:
              type: array
              items:
                type: string
            invalidAuctionIds:
              type: array
              items:
                type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBatchBidRequest:
      required:
        - auctionIds
        - bidPrices
        - address
        - pubkey
      type: object
      properties:
        auctionIds:
          type: array
          items:
            type: string
        bidPrices:
          type: array
          items:
            type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
        feeRate:
          description: The user sets the rate
          type: number
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address
          type: string
      additionalProperties: false
    MarketCreateBatchBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - bidId
            - psbtBid
            - serverFee
            - networkFee
            - feeRate
            - bidSignIndexes
          type: object
          properties:
            bidId:
              type: string
            psbtBid:
              description: Bid psbt
              type: string
            serverFee:
              description: The service fee charged by the platform
              type: number
            networkFee:
              description: BTC network total fee
              type: number
            feeRate:
              description: BTC network fee rate
              type: number
            bidSignIndexes:
              description: Specifies the bid signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBatchBidRequest:
      required:
        - bidId
        - psbtBid
      type: object
      properties:
        bidId:
          type: string
        psbtBid:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBatchBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              description: Transaction txid
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
