openapi: 3.0.3
info:
  title: Runes Indexer API
  version: 1.0.0
  description: >-
    Runes Indexer API is a RESTful API for indexing and querying Bitcoin Runes data.
    It provides endpoints for Runes status, Rune list/search, Rune metadata, holders,
    address balances, and transferable Rune UTXOs.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-testnet.unisat.io
  - url: https://open-api-testnet4.unisat.io
  - url: https://open-api-signet.unisat.io
  - url: https://open-api-fractal.unisat.io
  - url: https://open-api-fractal-testnet.unisat.io
tags:
  - name: Runes Indexer
    description: Rune metadata, holder, balance, UTXO, and event query APIs
paths:
  /v1/indexer/runes/status:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesStatus
      summary: "Get Runes indexer status and minimum rune state"
      description: >-
        Returns the latest indexed height, total rune count, current minimum rune, and halving block count. Use it to check Runes indexer freshness before reading rune metadata, holder lists, balances, UTXOs, or event history; data may lag new confirmations.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/RuneStatus"

  /v1/indexer/runes/info-list:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesList
      summary: "Search and list Rune metadata entries"
      description: >-
        Returns paginated Rune entries with rune id, raw and spaced names, divisibility, symbol, etching transaction, premine, terms, mints, burned amount, holders, transactions, supply, mintability, and remaining amount. Use it for Rune discovery, filtering, and ranking; spaced names may contain bullet separators.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: rune
          in: query
          description: "Search by spaced Rune name, for example DOG•GO•TO•THE•MOON."
          required: false
          schema:
            type: string
            example: "DOG•GO•TO•THE•MOON"
        - name: sort
          in: query
          description: "by (holders/transactions/timestamp)"
          required: false
          schema:
            type: string
            example: timestamp
        - name: complete
          in: query
          description: "complete type(yes/no)"
          required: false
          schema:
            type: string
            example: no
        - name: start
          in: query
          description: "default=0"
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: "required,min=1,max=500,default=10"
          schema:
            type: integer
            example: 10
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 3045
                      start:
                        type: integer
                        example: 0
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/RuneEntry"

  /v1/indexer/runes/{runeid}/info:
    get:
      tags:
        - Runes Indexer
      operationId: getRuneInfo
      summary: "Get detailed metadata for a Rune"
      description: >-
        Returns one Rune entry by block:tx rune id, including names, symbol, divisibility, etching transaction, premine, mint terms, supply, burned amount, holder and transaction counts, mintability, and remaining supply. Use it for Rune detail pages and validation before balance or holder queries.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: runeid
          in: path
          description: "Rune id in block:tx format, for example 840000:3."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/RuneEntry"

  /v1/indexer/runes/{runeid}/holders:
    get:
      tags:
        - Runes Indexer
      operationId: getRuneHolders
      summary: "List holders for a Rune"
      description: >-
        Returns holder addresses and Rune amounts for a specific block:tx rune id with pagination totals. Use it for holder distribution and ownership analysis; amounts are indexed token balances and do not authorize transfers or UTXO spends.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: runeid
          in: path
          description: "Rune id in block:tx format, for example 840000:3."
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      start:
                        type: integer
                        example: 0
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/RuneHolder"

  /v1/indexer/address/{address}/runes/balance-list:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesBalanceList
      summary: "List all Rune balances for an address"
      description: >-
        Returns paginated Rune balances held by an address, including rune id, raw and spaced names, symbol, divisibility, and amount. Use it for wallet portfolio displays or account audits; balances are indexer-derived and should be reconciled with UTXOs before spending.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address."
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of items returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    properties:
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/RunesBalance"

  /v1/indexer/address/{address}/runes/{runeid}/balance:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesBalance
      summary: "Get an address's balance for one Rune"
      description: >-
        Returns the indexed amount and Rune identity fields for one address and block:tx rune id. Use it for single-token wallet views or pre-transfer checks; spend construction must still inspect Rune UTXOs and current mempool state.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: address
          in: path
          description: "Bitcoin address."
          required: true
          schema:
            type: string
        - name: runeid
          in: path
          description: "Rune id in block:tx format, for example 840000:3."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    $ref: "#/components/schemas/RunesBalance"

  /v1/indexer/runes/utxo/{txid}/{index}/balance:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesUtxoBalance
      summary: "Get Rune balances carried by a specific UTXO"
      description: >-
        Returns all Rune balances associated with one transaction output, including rune id, names, symbol, divisibility, and amount. Use it for coin selection diagnostics or validating a Rune-bearing UTXO; callers must confirm the UTXO is still unspent before spending.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: txid
          in: path
          description: ""
          required: true
          schema:
            type: string
        - name: index
          in: path
          description: ""
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RunesBalance"

  /v1/indexer/address/{address}/runes/{runeid}/utxo:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesUtxoByAddressAndRuneid
      summary: "List an address's transferable UTXOs for one Rune"
      description: >-
        Returns UTXOs for an address that carry the selected Rune, including address, satoshi value, script, outpoint, and embedded Rune balances. Use it to prepare transfer candidates; revalidate ownership, dust policy, and mempool state before signing or broadcasting.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: address
          in: path
          description: ""
          required: true
          schema:
            type: string
        - name: runeid
          in: path
          description: "Rune id in block:tx format, for example 840000:3."
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: "default=0"
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: "required,min=1,max=500,default=10"
          schema:
            type: integer
            example: 10
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ""
                  data:
                    properties:
                      start:
                        type: integer
                      total:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: "#/components/schemas/RuneUtxo"

  /v1/indexer/runes/event:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesEvents
      summary: "Search Rune etch, mint, burn, send, and receive events"
      description: >-
        Returns paginated Rune events with type, address, amount, height, transaction index, txid, timestamp, raw rune name, and rune id. Use it for activity feeds, compliance exports, or block and transaction investigations; results are read-only indexer events and may lag recent confirmations.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Runes query; revalidate UTXO state before constructing spends.
      parameters:
        - name: rune
          description: Filter by rune
          in: query
          required: false
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: false
          schema:
            type: string
            enum:
              - etch
              - mint
              - burn
              - receive
              - send
        - name: address
          description: Filter by address
          in: query
          required: false
          schema:
            type: string
        - name: height
          description: Filter by block height
          in: query
          required: false
          schema:
            type: integer
        - name: txid
          description: Filter by tx
          in: query
          required: false
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: false
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/RunesEventItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
components:
  schemas:
    RuneUtxo:
      type: object
      properties:
        address:
          type: string
        satoshi:
          type: integer
          example: 10000
        scriptPk:
          type: string
        txid:
          type: string
        vout:
          type: integer
          example: 0
        runes:
          type: array
          items:
            $ref: "#/components/schemas/RunesBalance"
    RunesEventItem:
      type: object
      properties:
        type:
          type: string
          enum:
            - etch
            - mint
            - burn
            - send
            - receive
        address:
          type: string
        amount:
          type: string
        height:
          type: integer
        txidx:
          type: integer
        txid:
          type: string
        timestamp:
          type: integer
        rune:
          type: string
        runeid:
          type: string
    RunesBalance:
      type: object
      properties:
        amount:
          type: string
          example: "10000"
        runeid:
          type: string
          example: "2584327:44"
        rune:
          type: string
          example: "AAAAAAAAAAAAAB"
        spacedRune:
          type: string
          example: "AAAAA•AAA•AAAAA•B"
        symbol:
          type: string
          example: "G"
        divisibility:
          type: integer
          example: 0
    RuneHolder:
      type: object
      properties:
        address:
          type: string
        amount:
          type: string
          example: "10000"
    RuneEntry:
      type: object
      properties:
        runeid:
          type: string
          example: "2583283:1333"
        rune:
          type: string
          example: "UNCOMMONGOODS"
        spacedRune:
          type: string
          example: "UNCOMMON•GOODS"
        number:
          type: integer
          format: uint64
          example: 0
        height:
          type: integer
          format: uint64
          example: 2583283
        txidx:
          type: integer
          format: uint64
          example: 1333
        timestamp:
          type: integer
          example: 1623423423
        divisibility:
          type: integer
          format: uint8
          example: 2
        symbol:
          type: string
          format: Option<char>
          example: "G"
        etching:
          type: string
          example: "7cd19fef13aa2924d4446b1a86c1904e02e46d16630370bc6de86f769692e242"
        premine:
          type: string
          example: "10000"
        terms:
          type: object
          properties:
            amount:
              type: string
              example: "1000000"
            cap:
              type: string
              example: "234000"
            heightStart:
              type: integer
              example: 245000
            heightEnd:
              type: integer
              example: 2480000
            offsetStart:
              type: integer
              example: null
            offsetEnd:
              type: integer
              example: null

        mints:
          type: string
          example: "500"
        burned:
          type: string
          format: u128
          example: "1000"
        holders:
          type: integer
          example: 1000
        transactions:
          type: integer
          example: 1000
        supply:
          type: string
          example: "500010000"
        start:
          type: integer
        end:
          type: integer
        mintable:
          type: boolean
        remaining:
          type: string
    RuneStatus:
      type: object
      properties:
        bestHeight:
          type: integer
        runes:
          type: integer
          example: 100
        minimumRune:
          type: string
          example: "AAAAAAAAAAAA"
        halvingBlockCount:
          type: integer
          example: 100
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
