openapi: 3.0.3
info:
  title: UniSat Wallet - OpenAPI
  version: 1.0.0
  description: >-
    To use the OpenAPI, please register and log in at the UniSat Developer
    Center (https://developer.unisat.io). Once registered, you can directly
    obtain a free-plan API key through the developer center.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
    description: Bitcoin Mainnet endpoint for public.
  - url: https://open-api-staging.unisat.io
    description: Bitcoin Mainnet endpoint for staging test.
  - url: https://open-api-testnet.unisat.io
    description: Bitcoin Testnet endpoint for public.
  - url: https://open-api-testnet4.unisat.io
    description: Bitcoin Testnet4 endpoint for public.
  - url: https://open-api-signet.unisat.io
    description: Bitcoin Signet endpoint for public.
  - url: https://open-api-fractal.unisat.io
    description: Fractal Mainnet endpoint for public.
  - url: https://open-api-fractal-testnet.unisat.io
    description: Fractal Testnet endpoint for public.
tags:
  - name: Indexer-Blockchain
    description: Indexer-Blockchain APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Inscription Indexer
    description: Inscription metadata, content, event, and UTXO query APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: BRC20 Indexer
    description: Classic BRC-20 token indexing and balance query APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Runes Indexer
    description: Rune metadata, holder, balance, UTXO, and event query APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Indexer-Alkanes
    description: Indexer-Alkanes APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-signet.unisat.io
  - name: Inscribe
    description: >-
      Legacy V2 inscription workflow. The order summary endpoint remains
      supported; all other V2 endpoints are deprecated in favor of Inscribe V5.
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-testnet4.unisat.io
      - https://open-api-signet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Inscribe V5
    description: >-
      Current multi-network inscription workflow. V5 endpoints require a bearer
      API key and scope orders to the calling OpenAPI application.
  - name: Marketplace-BRC20
    description: BRC20 Marketplace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Marketplace-Runes
    description: Runes Marketplace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-testnet.unisat.io
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Marketplace-Alkanes
    description: Alkanes Marketplace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
  - name: Marketplace-Collections
    description: Ordinals Collection Marketplace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-fractal.unisat.io
  - name: Marketplace-Domains
    description: Ordinals Domain Marketplace Service
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-fractal.unisat.io
  - name: Swap-BRC20
    description: >-
      Fractal-only BRC20 Swap / InSwap service. InSwap is an alias of BRC20
      Swap.
    urls:
      - https://open-api-fractal.unisat.io
  - name: Public-Fractal
    description: Public-Fractal APIs
    urls:
      - https://open-api-fractal.unisat.io
      - https://open-api-fractal-testnet.unisat.io
  - name: Collection Indexer
    description: Read-only collection metadata, ownership, and item query APIs
    urls:
      - https://open-api.unisat.io
  - name: BRC20-Prog Indexer
    description: Bitcoin-only BRC20-Prog 6-character ticker indexing APIs
    urls:
      - https://open-api.unisat.io
      - https://open-api-staging.unisat.io
      - https://open-api-signet.unisat.io
  - name: Price
    description: Price APIs
    urls:
      - https://open-api.unisat.io
paths:
  /v1/indexer/blockchain/info:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getBlockchainInfo
      summary: Get chain tip, header height, and best block metadata
      description: >-
        Returns the indexed blockchain state, including chain name, block and
        header heights, best and previous block hashes, median time, and
        accumulated chainwork.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      chain:
                        type: string
                      blocks:
                        type: integer
                      headers:
                        type: integer
                      bestBlockHash:
                        type: string
                      prevBlockHash:
                        type: string
                      medianTime:
                        type: integer
                      chainwork:
                        type: string
        '401':
          description: Invalid API Key
  /v1/indexer/fees/recommended:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getRecommendedFees
      summary: Get recommended Bitcoin fee rates by confirmation target
      description: >-
        Returns fee-rate estimates for fastest, half-hour, hour, economy, and
        minimum confirmation targets, together with the update timestamp for
        freshness checks.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      fastestFee:
                        type: integer
                      halfHourFee:
                        type: integer
                      hourFee:
                        type: integer
                      economyFee:
                        type: integer
                      minimumFee:
                        type: integer
                      updateTime:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/height/{height}/block:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getBlockByHeight
      summary: Get block metadata by height
      description: >-
        Returns indexed block details such as hash links, transaction count,
        satoshi totals, coinbase output, timestamp, bits, and serialized size
        for the requested height.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BlockInfo'
        '401':
          description: Invalid API Key
  /v1/indexer/block/id/{blockid}:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getBlockById
      summary: Get block metadata by block hash
      description: >-
        Returns the same indexed block model as height lookup, including chain
        links, transaction count, value totals, timestamp, difficulty bits, and
        block size.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: blockid
          description: Block id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BlockInfo'
        '401':
          description: Invalid API Key
  /v1/indexer/block/{height}/txs:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getTxsByBlockHeight
      summary: List indexed transactions in a block by height
      description: >-
        Returns paginated transaction summaries for a block, including each
        transaction's input/output counts, satoshi totals, locktime, size, block
        position, confirmations, and timestamp.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: height
          description: Block height
          in: path
          required: true
          schema:
            type: integer
          example: 800000
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/TxHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getTxById
      summary: Get indexed transaction summary by txid
      description: >-
        Returns transaction-level metadata such as input/output counts, satoshi
        totals, locktime, size, witness offset, block hash, confirmations, and
        timestamp.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/TxHistoryItem'
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}/ins:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getInputsByTxId
      summary: List inputs spent by a transaction
      description: >-
        Returns paginated previous-output records consumed by a transaction,
        including address, script data, satoshi value, inscription metadata,
        source txid, vout, and indexed height fields.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        description: >-
                          0~3: Reserved , 4: CodeType_P2PK, 5: CodeType_P2PKH,
                          6: CodeType_P2SH, 7: CodeType_P2WPKH, 8:
                          CodeType_P2WSH, 9: CodeType_P2TR
                        type: integer
                        enum:
                          - 0
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptSig:
                        type: string
                      scriptType:
                        type: string
                      scriptWits:
                        type: string
                      sequence:
                        type: integer
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightTxo:
                        type: integer
                      utxid:
                        type: string
                      vout:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/tx/{txid}/outs:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getOutputsByTxId
      summary: List outputs created by a transaction
      description: >-
        Returns paginated transaction outputs with address, script type and
        scriptPubKey, satoshi value, inscription metadata, output index, and
        spend status fields when indexed.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      codeType:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      satoshi:
                        type: integer
                      scriptPk:
                        type: string
                      scriptType:
                        type: string
                      height:
                        type: integer
                      txid:
                        type: string
                      idx:
                        type: integer
                      heightSpent:
                        type: integer
                      txidSpent:
                        type: string
                      vout:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/rawtx/{txid}:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getRawTxById
      summary: Get raw transaction hex by txid
      description: >-
        Returns the serialized raw transaction hex for decoding, verification,
        rebroadcast analysis, or offline transaction inspection.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        '401':
          description: Invalid API Key
  /v1/indexer/utxo/{txid}/{index}:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getUtxoByTxIdAndIndex
      summary: Get one transaction output by txid and vout
      description: >-
        Returns indexed output details including satoshi value, script type,
        scriptPubKey, address, inscription metadata, RBF marker, and whether the
        output is spent.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: txid
          description: Tx id
          in: path
          required: true
          schema:
            type: string
        - name: index
          description: Transaction output index (vout) of the UTXO.
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      txid:
                        type: string
                      vout:
                        type: integer
                        example: 0
                      satoshi:
                        type: integer
                        example: 10000
                      scriptType:
                        type: string
                      scriptPk:
                        type: string
                      codeType:
                        type: integer
                      address:
                        type: string
                      height:
                        type: integer
                      idx:
                        type: integer
                      inscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionItem'
                      isOpInRBF:
                        type: boolean
                        example: false
                      isSpent:
                        type: boolean
                        example: false
        '401':
          description: Invalid API Key
  /v1/indexer/local_pushtx:
    post:
      tags:
        - Indexer-Blockchain
      operationId: localPushTx
      summary: Broadcast one raw transaction to the selected network
      description: >-
        Submits a signed transaction hex and optional maximum fee rate for local
        validation and propagation. This can move funds or assets and requires
        explicit confirmation before execution.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalPushParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: string
        '401':
          description: Invalid API Key
  /v1/indexer/local_pushtxs:
    post:
      tags:
        - Indexer-Blockchain
      operationId: localPushTxs
      summary: Broadcast multiple raw transactions to the selected network
      description: >-
        Submits a batch of signed transaction hex strings with optional maximum
        fee rate. Use only after validating order, dependencies, fees, and
        target network because each transaction may move funds or assets.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalPushtxsParams'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: array
                    items:
                      type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/balance:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getBalanceByAddress
      summary: Get address balance split by BTC and inscription UTXOs
      description: >-
        Returns confirmed and pending satoshi totals plus UTXO counts for the
        address, separated into overall, plain BTC, and inscription-related
        balances.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      address:
                        type: string
                      satoshi:
                        type: integer
                      pendingSatoshi:
                        type: integer
                      utxoCount:
                        type: integer
                      btcSatoshi:
                        type: integer
                      btcPendingSatoshi:
                        type: integer
                      btcUtxoCount:
                        type: integer
                      inscriptionSatoshi:
                        type: integer
                      inscriptionPendingSatoshi:
                        type: integer
                      inscriptionUtxoCount:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/history:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getTxHistoryByAddress
      summary: List indexed transaction history for an address
      description: >-
        Returns paginated transaction summaries involving the address, including
        transaction size, satoshi totals, block position, confirmations, and
        timestamp for wallet activity views.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/TxHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/utxo-data:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getUtxoDataByAddress
      summary: List UTXOs for an address
      description: >-
        Returns paginated UTXO records with confirmed, unconfirmed, and
        unconfirmed-spend totals. Each UTXO includes address, satoshi value,
        script data, inscriptions, RBF marker, and output coordinates.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/all-utxo-data:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getAllUtxoDataByAddress
      summary: List all indexed UTXOs for an address
      description: >-
        Returns paginated UTXO records and aggregate totals across confirmed,
        unconfirmed, and unconfirmed-spend states, including inscription and
        low-fee metadata when indexed.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/available-balance:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getAvailableBalanceByAddress
      summary: Get address balance grouped by available and unavailable UTXOs
      description: >-
        Returns total, available, and unavailable satoshi balances with matching
        UTXO counts. The optional low-fee flag controls whether UTXOs below 1
        sat/vB are included in availability calculations.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: withLowFee
          description: >-
            Whether to include UTXOs balance with low fee rate (less than 1
            sat/vB)
          in: query
          required: false
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      totalBalance:
                        type: integer
                      totalUtxoCount:
                        type: integer
                      availableBalance:
                        type: integer
                      availableUtxoCount:
                        type: integer
                      unavailableBalance:
                        type: integer
                      unavailableUtxoCount:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/available-utxo-data:
    get:
      tags:
        - Indexer-Blockchain
      operationId: getAvailableUtxoDataByAddress
      summary: List available UTXOs for an address
      description: >-
        Returns paginated UTXOs considered available for spending, along with
        aggregate confirmed, unconfirmed, and unconfirmed-spend totals. The
        low-fee option controls inclusion of UTXOs below 1 sat/vB.
      x-unisat-domain: blockchain
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: withLowFee
          description: Whether to include UTXOs with low fee rate (less than 1 sat/vB)
          in: query
          required: false
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/info/{inscriptionId}:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionInfo
      summary: Get inscription metadata by id or number
      description: >-
        Returns inscription owner, number, content metadata, parent and delegate
        flags, metaprotocol fields, BRC-20 payload when present, and current
        UTXO context. Use either an inscription id or inscription number; verify
        network and confirmation state before relying on ownership-sensitive
        results.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: inscriptionId
          in: path
          description: Inscription id, or an inscription number accepted by this endpoint.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/InscriptionData'
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/content/{inscriptionId}:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionContent
      summary: Fetch raw inscription content by id or number
      description: >-
        Streams the inscription content body for rendering, preview, or archival
        workflows. The identifier may be an inscription id or inscription number
        where supported; callers should trust the returned content type from
        inscription metadata and avoid executing untrusted content directly.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: inscriptionId
          in: path
          description: Inscription id, or an inscription number accepted by this endpoint.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Invalid API Key
  /v1/indexer/inscription/events:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionEvents
      summary: List inscription mint and transfer events by block range
      description: >-
        Returns paginated inscription events with transfer flag, inscription id
        and number, address, content fields for mint events, transaction data,
        satoshi value, timestamp, and block metadata. Use it for indexer
        backfills, activity feeds, or monitoring; end=0 may include
        mempool-visible data that is not final.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: start
          description: Start blockheight
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End blockheight (0 represents the inclusion of mempool data.)
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionEvent'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionDataByAddress
      summary: List inscriptions currently associated with an address
      description: >-
        Returns paginated inscription metadata for an address with confirmed and
        unconfirmed totals, spend-pending counts, content metadata, optional
        BRC-20 payload, and UTXO context. Use it for wallet galleries and
        ownership views; unconfirmed and unconfirmed-spend values require extra
        caution before spending.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      inscription:
                        type: array
                        items:
                          $ref: '#/components/schemas/InscriptionData'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-utxo-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionUtxoDataByAddress
      summary: List inscription-bearing UTXOs for an address
      description: >-
        Returns paginated UTXO records that carry inscriptions for an address,
        along with confirmed, unconfirmed, and unconfirmed-spend totals. Use it
        to prepare wallet coin selection or inscription transfer screens; always
        revalidate UTXO ownership and mempool status before signing.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/UTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/abandon-nft-utxo-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getAbandonNftUtxoDataByAddress
      summary: List abandoned NFT-style inscription UTXOs for an address
      description: >-
        Returns abandoned inscription UTXO candidates with balance, counts,
        pagination, and UTXO details for an address. Use it for cleanup or
        wallet diagnostics; because these are spend-related candidates, verify
        current chain and mempool state before constructing any transaction.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only inscription query; treat content and unconfirmed ownership
          data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: '#/components/schemas/AbandonNFTUTXO'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/bestheight:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20BestHeight
      summary: Get Classic BRC-20 indexer height and ticker total
      description: >-
        Returns the latest indexed block height, block hash, block timestamp,
        and total Classic BRC-20 ticker count. Use it to check indexer freshness
        before reading token status, holders, history, or address balances; data
        may lag the chain tip and should not be used for BRC20-Prog 6-character
        tickers.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        description: best block height of brc20
                        type: integer
                      blockid:
                        description: best block id of brc20
                        type: string
                      timestamp:
                        description: timestamp of best block
                        type: integer
                      total:
                        description: total number of brc20 tickers
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/list:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20TickerList
      summary: List indexed Classic BRC-20 tickers
      description: >-
        Returns a paginated ticker list with total count and start offset for
        Classic BRC-20 discovery. Use these tickers with the Classic BRC-20
        info, holder, history, and address-balance endpoints; route BRC20-Prog
        6-character tickers to the brc20-prog API instead.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: not-recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        items:
                          type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/status:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20Status
      summary: Search Classic BRC-20 ticker status and mint progress
      description: >-
        Returns indexed Classic BRC-20 ticker status records including
        deployment metadata, minted supply, holder and history counts, and
        completion state. Use sort and completion filters for token discovery or
        ranking; balances are indexer-derived and may change as new blocks are
        processed.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: sort by (holders/deploy/minted/transactions)
          in: query
          required: false
          schema:
            type: string
            enum:
              - holders
              - deploy
              - minted
              - transactions
          example: deploy
        - name: complete
          description: filter by (completed or not)
          in: query
          required: false
          schema:
            type: string
            enum:
              - 'yes'
              - 'no'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20InfoItem'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/info:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20InfoByTicker
      summary: Get Classic BRC-20 ticker deployment and supply info
      description: >-
        Returns deployment inscription, creator, max supply, mint limit,
        decimals, minted amounts, holder count, and related history counts for
        one Classic BRC-20 ticker. Use this before showing token detail pages or
        validating ticker-level context; 6-character BRC20-Prog tickers are
        intentionally out of scope.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: '#/components/schemas/BRC20InfoItem'
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/holders:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HoldersByTicker
      summary: List Classic BRC-20 holders and balances for a ticker
      description: >-
        Returns holder addresses with overall, transferable, and available
        balances for the selected Classic BRC-20 ticker. Use it for holder
        distribution views or balance audits; values are indexed token balances
        and do not authorize transfers or create inscriptions.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            availableBalance:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByTicker
      summary: List Classic BRC-20 history events for a ticker
      description: >-
        Returns deploy, mint, transfer-inscription, send, and receive events
        with inscription, transaction, balance, height, and validity fields. Use
        it for token activity feeds or reconciliation at a height; invalid or
        unconfirmed protocol actions should be interpreted according to the
        returned validity and indexer state.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: height
          description: Block height
          in: query
          required: true
          schema:
            type: integer
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/tx/{txid}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByTickerAndTxid
      summary: Get Classic BRC-20 ticker events in a transaction
      description: >-
        Returns ticker-specific history events found in a transaction, including
        event type, inscription id, amount, counterparties, balances, and
        validity. Use it to explain how a transaction affected a Classic BRC-20
        ticker; always treat returned balances as indexed results rather than
        spend authorization.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: txid
          description: txid
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20/history-by-height/{height}:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByHeight
      summary: List Classic BRC-20 events indexed at a block height
      description: >-
        Returns paginated Classic BRC-20 history events for a specific block
        height with ticker, transaction, inscription, amount, and validity
        details. Use it for block-level indexing audits or backfills; results
        represent the indexer's view of confirmed protocol events at that
        height.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: integer
          example: 818698
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: number
                      total:
                        type: integer
                      start:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20SummaryByAddress
      summary: List an address's Classic BRC-20 token balances
      description: >-
        Returns paginated Classic BRC-20 balance summaries for an address,
        including ticker, indexed height, total count, overall balance,
        transferable balance, and available balance. Use tick_filter to separate
        4-, 5-, or 6-character Classic BRC-20 namespaces when needed; use
        brc20-prog endpoints for BRC20-Prog semantics.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: tick_filter
          description: >-
            -> filter by tick type 8 - Returns only 4-character BRC20 tokens 16
            - Returns only 5-character BRC20 tokens 32 - Returns only
            6-character BRC20 tokens 24 - Returns 4 and 5-character BRC20 tokens
            (bitwise combination 8 | 16) 56 - Returns 4, 5, and 6-character
            BRC20 tokens (bitwise combination 8 | 16 | 32)
          in: query
          required: false
          schema:
            type: string
            enum:
              - 8
              - 16
              - 24
              - 32
              - 56
          example: 24
        - name: exclude_zero
          description: Exclude zero balance
          in: query
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary-by-height/{height}:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20SummaryByAddressAndHeight
      summary: List an address's Classic BRC-20 balances at a height
      description: >-
        Returns the address's indexed Classic BRC-20 balance summaries as of a
        specific block height, including ticker, overall, transferable, and
        available balances. Use it for historical portfolio snapshots or
        reconciliation; balances are read-only indexer state and may differ from
        current spendability.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/info:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20InfoByAddressAndTicker
      summary: Get an address's Classic BRC-20 balance details for a ticker
      description: >-
        Returns one address's overall, available, safe, unsafe, and transferable
        balances for a Classic BRC-20 ticker, plus related transfer inscriptions
        and history counts. Use it before building transfer flows or balance
        displays; this endpoint only reports indexed state and does not
        guarantee UTXO spend safety.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      ticker:
                        type: string
                      overallBalance:
                        type: string
                      availableBalance:
                        type: string
                      availableBalanceSafe:
                        type: string
                      availableBalanceUnSafe:
                        type: string
                      transferableBalance:
                        type: string
                      historyCount:
                        type: integer
                      historyInscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryInscription'
                      transferableCount:
                        type: integer
                      transferableInscriptions:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryInscription'
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByAddress
      summary: List all Classic BRC-20 history events for an address
      description: >-
        Returns paginated Classic BRC-20 events involving an address across
        tickers, including event type, amount, counterparties, transaction,
        inscription, and balance fields. Use it for wallet activity timelines
        and audits; events are indexer-derived and should be checked for
        validity before user-facing accounting.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByAddressAndTicker
      summary: List an address's Classic BRC-20 history for a ticker
      description: >-
        Returns ticker-specific Classic BRC-20 events for an address with event
        type, transaction, inscription, amount, balance, height, and validity
        fields. Use it to explain wallet balance changes for one ticker; read
        the validity flag and confirmation context before treating events as
        final.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/BRC20HistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/transferable-inscriptions:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20TransferableInscriptionsByAddressAndTicker
      summary: List transferable Classic BRC-20 inscriptions for an address
      description: >-
        Returns unused transferable inscriptions for a Classic BRC-20 ticker
        with inscription id, inscription number, satoshi value, confirmations,
        and transfer amount payload. Use it to select candidate transfer
        inscriptions; callers must still validate UTXO ownership, confirmation
        policy, and signing context before spending.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: >-
            Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for
            6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        properties:
                          inscriptionNumber:
                            type: integer
                          inscriptionId:
                            type: string
                          satoshi:
                            type: integer
                          confirmations:
                            type: integer
                          data:
                            properties:
                              op:
                                type: string
                              tick:
                                type: string
                              lim:
                                type: string
                              amt:
                                type: string
                              decimal:
                                type: string
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20-module/{module}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20ModuleHistoryByAddress
      summary: List Classic BRC-20 module history for a module inscription
      description: >-
        Returns module-related Classic BRC-20 events across a height range,
        including inscription, satpoint, address, amount, validity, and block
        metadata. Use it to inspect module deposit or movement workflows; this
        is an indexer audit view and does not submit withdrawals or transfers.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: module
          description: Address
          in: path
          required: true
          schema:
            type: string
          example: fd5bd482bed1b62d0702e2f19a1e3bdd4fb755fa5c9bed5d8d0f219a3219ee95i0
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModuleHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/brc20-module/withdraw-history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20WithdrawHistory
      summary: List Classic BRC-20 module withdrawal history
      description: >-
        Returns withdrawal-related module events within a height range,
        including inscription, satpoint, address, token amount, transaction,
        validity, and block metadata. Use it for module withdrawal monitoring
        and reconciliation; this endpoint is read-only and never creates, signs,
        or broadcasts withdrawals.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Classic BRC-20 query; never use for BRC20-Prog ticker
          semantics.
      parameters:
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModuleHistoryItem'
                      start:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Invalid API Key
  /v1/indexer/runes/status:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesStatus
      summary: Get Runes indexer status and minimum rune state
      description: >-
        Returns the latest indexed height, total rune count, current minimum
        rune, and halving block count. Use it to check Runes indexer freshness
        before reading rune metadata, holder lists, balances, UTXOs, or event
        history; data may lag new confirmations.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Runes query; revalidate UTXO state before constructing
          spends.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    $ref: '#/components/schemas/RuneStatus'
  /v1/indexer/runes/info-list:
    get:
      tags:
        - Runes Indexer
      operationId: getRunesList
      summary: Search and list Rune metadata entries
      description: >-
        Returns paginated Rune entries with rune id, raw and spaced names,
        divisibility, symbol, etching transaction, premine, terms, mints, burned
        amount, holders, transactions, supply, mintability, and remaining
        amount. Use it for Rune discovery, filtering, and ranking; spaced names
        may contain bullet separators.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Runes query; revalidate UTXO state before constructing
          spends.
      parameters:
        - name: rune
          in: query
          description: Search by spaced Rune name, for example DOG•GO•TO•THE•MOON.
          required: false
          schema:
            type: string
            example: DOG•GO•TO•THE•MOON
        - name: sort
          in: query
          description: by (holders/transactions/timestamp)
          required: false
          schema:
            type: string
            example: timestamp
        - name: complete
          in: query
          description: complete type(yes/no)
          required: false
          schema:
            type: string
            example: 'no'
        - name: start
          in: query
          description: default=0
          required: false
          schema:
            type: integer
            example: 0
        - name: limit
          in: query
          description: required,min=1,max=500,default=10
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 3045
                      start:
                        type: integer
                        example: 0
                      detail:
                        type: array
                        items:
                          $ref: '#/components/schemas/RuneEntry'
  /v1/indexer/runes/{runeid}/info:
    get:
      tags:
        - Runes Indexer
      operationId: getRuneInfo
      summary: Get detailed metadata for a Rune
      description: >-
        Returns one Rune entry by block:tx rune id, including names, symbol,
        divisibility, etching transaction, premine, mint terms, supply, burned
        amount, holder and transaction counts, mintability, and remaining
        supply. Use it for Rune detail pages and validation before balance or
        holder queries.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - >-
          Read-only Runes query; revalidate UTXO state before constructing
          spends.
      parameters:
        - name: runeid
          in: path
          description: Rune id in block:tx format, for example 840000:3.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                  msg:
                    type: string
                    example: ''
                  data:
                    $ref: '#/components/schemas/RuneEntry'
  /v1/indexer/runes/{runeid}/holders:
    get:
      tags:
        - Runes Indexer
      operationId: getRuneHolders
      summary: List holders for a Rune
      description: >-
        Returns holder addresses and Rune amounts for a specific block:tx rune
        id with pagination totals. Use it for holder distribution and ownership
        analysis; amounts are indexed token balances and do not authorize
        transfers or UTXO spends.
      x-unisat-domain: runes
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
[...]
