openapi: 3.0.3
info:
  title: BRC20 Swap API
  version: 1.0.4
  description: >-
    BRC20 Swap API provides a set of Fractal-only interfaces for BRC20 Swap and InSwap services.
    BRC20 Swap and InSwap are equivalent product names; user requests that mention InSwap should be routed to these /v1/brc20-swap/* endpoints.
    It allows users to interact with the BRC20 Swap ecosystem, including balance checks,
    pool information, liquidity management, quote/preparation steps, liquidity operations, swap operations, and token transfers.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api-fractal.unisat.io
tags:
  - name: Swap-BRC20
    description: Fractal-only BRC20 Swap / InSwap service. InSwap is an alias of BRC20 Swap.
paths:
  /v1/brc20-swap/config:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapConfig
      summary: Get InSwap module, fee tick, and deposit confirmation config
      description: >-
        Returns Fractal BRC20 Swap service settings, including module id, service gas tick, and confirmation thresholds for direct and matching deposits.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      moduleId:
                        type: string
                      serviceGasTick:
                        description: The tick used for the second layer gas.
                        type: string
                      pendingDepositDirectNum:
                        description: Number of confirmations required for direct deposit.
                        type: number
                      pendingDepositMatchingNum:
                        description: Number of confirmations required for matching deposit.
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/balance:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapBalance
      summary: Get an address's InSwap balance for one tick
      description: >-
        Returns module, swap, pending-swap, and pending-available balances plus decimal precision for a specific address and token tick.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      balance:
                        type: object
                        properties:
                          module:
                            description: Confirmed module balance.
                            type: string
                          swap:
                            description: Confirmed swap balance.
                            type: string
                          pendingSwap:
                            description: The balance converted from pending to swap.
                            type: string
                          pendingAvailable:
                            description: The balance converted from pending to module.
                            type: string
                        additionalProperties: false
                      decimal:
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/all_balance:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapAllBalances
      summary: List all InSwap balances for an address
      description: >-
        Returns a ticker-keyed balance map with module, swap, pending balances, decimals, asset type, network type, and optional price metadata.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: pubkey
          required: false
      responses:
        "200":
          description: Successful response returning all token balances for the address.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    description: A map where each key is a token ticker symbol.
                    additionalProperties:
                      type: object
                      properties:
                        balance:
                          type: object
                          properties:
                            module:
                              type: string
                              description: Confirmed module balance.
                            swap:
                              type: string
                              description: Confirmed swap balance.
                            pendingSwap:
                              type: string
                              description: The balance converted from pending to swap.
                            pendingAvailable:
                              type: string
                              description: The balance converted from pending to module.
                          additionalProperties: false
                        decimal:
                          type: string
                          description: Token decimal precision.
                        assetType:
                          type: string
                          description: Type of the asset (e.g., 'brc20', 'btc').
                        networkType:
                          type: string
                          description: Underlying network (e.g., 'BITCOIN_MAINNET', 'FRACTAL_BITCOIN_MAINNET').
                        price:
                          type: number
                          description: Current price of the token, if available.
                      required:
                        - balance
                        - decimal
                        - assetType
                        - networkType
                required:
                  - code
                  - msg
                  - data
  /v1/brc20-swap/pool_info:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPoolInfo
      summary: Get pool liquidity, volume, and reward details for a pair
      description: >-
        Returns pair-level pool metadata, including whether the pool exists, token reserves, LP supply, TVL, recent volume, reward fields, and per-token asset metadata.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: tick0
          required: false
        - schema:
            type: string
          in: query
          name: tick1
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      existed:
                        description: Is the pool existed
                        type: boolean
                      addLiq:
                        description: Has LP been added to the pool
                        type: boolean
                      tick0:
                        type: string
                      tick1:
                        type: string
                      lp:
                        description: Quantity of pool lp
                        type: string
                      tvl:
                        type: string
                      volume24h:
                        type: string
                      volume7d:
                        type: string
                      reward0:
                        type: string
                      reward1:
                        type: string
                      activedPid:
                        description: Active pool ID
                        type: string
                      marketCap:
                        description: Market cap
                        type: number
                      marketCapTick:
                        description: Market cap tick
                        type: string
                      networkType0:
                        description: Network type for tick0
                        type: string
                      networkType1:
                        description: Network type for tick1
                        type: string
                      assetType0:
                        description: Asset type for tick0
                        type: string
                      assetType1:
                        description: Asset type for tick1
                        type: string
                      l1Tick0:
                        description: L1 tick0
                        type: string
                      l1Tick1:
                        description: L1 tick1
                        type: string
                      amount0:
                        description: Amount of tick0
                        type: string
                      amount1:
                        description: Amount of tick1
                        type: string
                      volume30d:
                        description: 30 days volume
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/select:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapSelect
      summary: List address ticks available for InSwap trading
      description: >-
        Returns BRC-20 ticks available to an address for swap operations, including decimal precision, module balance, and swap balance.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: search
          required: false
          description: Fuzzy matching
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        tick:
                          type: string
                        decimal:
                          type: string
                        brc20Balance:
                          description: Module balance (not participate in swap calculations)
                          type: string
                        swapBalance:
                          description: Swap balance
                          type: string
                      additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_deploy_pool:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPreDeployPool
      summary: Prepare signatures and fees for deploying an InSwap pool
      description: >-
        Returns signature ids, sign messages, fee amount, fee tick price, fee balance, and USD fee value needed before submitting a pool deployment.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp (seconds)
        - schema:
            type: string
          in: query
          name: feeTick
          required: true
          description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
        - schema:
            enum:
              - tick
              - freeQuota
            type: string
          in: query
          name: payType
          required: false
          description: Pay type. Allowed values are tick and freeQuota.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                      feeTick:
                        description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                        type: string
                      totalFreeQuota:
                        description: Total free quota
                        type: string
                      remainingFreeQuota:
                        description: Remaining free quota
                        type: string
                      totalUsedFreeQuota:
                        description: Total used free quota
                        type: string
                      usageFreeQuota:
                        description: Usage free quota
                        type: string
                      hasVoucher:
                        description: Has voucher
                        type: boolean
                      assetFeeAmount:
                        description: Asset fee amount
                        type: string
                      assetFeeTick:
                        description: Asset fee tick
                        type: string
                      assetFeeTickPrice:
                        description: Asset fee tick price
                        type: string
                      assetFeeTickBalance:
                        description: Asset fee tick balance
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/deploy_pool:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapDeployPool
      summary: Submit a signed InSwap pool deployment
      description: >-
        Creates a new swap pool using prepared signature data, token pair, timestamp, fee tick, and fee payment fields. Review the pair, fee amount, and signatures before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick0
                - tick1
                - ts
                - feeTick
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tick0:
                  type: string
                tick1:
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  description: Pay type. Allowed values are tick and freeQuota.
                rememberPayType:
                  type: boolean
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_add_liq:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPreAddLiq
      summary: Prepare signatures and fee data for adding liquidity
      description: >-
        Returns signature ids, sign messages, fee fields, and pool-share preparation data for adding two token amounts into an InSwap liquidity pool.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]

      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: amount0
          required: true
          description: Input amount of tick0
        - schema:
            type: string
          in: query
          name: amount1
          required: true
          description: Input amount of tick1
        - schema:
            type: string
          in: query
          name: lp
          required: true
          description: Expect amount of lp
        - schema:
            type: string
          in: query
          name: slippage
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp (seconds)
        - schema:
            type: string
          in: query
          name: feeTick
          required: true
          description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
        - schema:
            enum:
              - tick
              - freeQuota
            type: string
          in: query
          name: payType
          required: false
          description: Pay type. Allowed values are tick and freeQuota.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                      feeTick:
                        description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                        type: string
                      totalFreeQuota:
                        description: Total free quota
                        type: string
                      remainingFreeQuota:
                        description: Remaining free quota
                        type: string
                      totalUsedFreeQuota:
                        description: Total used free quota
                        type: string
                      usageFreeQuota:
                        description: Usage free quota
                        type: string
                      hasVoucher:
                        description: Has voucher
                        type: boolean
                      assetFeeAmount:
                        description: Asset fee amount
                        type: string
                      assetFeeTick:
                        description: Asset fee tick
                        type: string
                      assetFeeTickPrice:
                        description: Asset fee tick price
                        type: string
                      assetFeeTickBalance:
                        description: Asset fee tick balance
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/add_liq:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapAddLiq
      summary: Submit a signed InSwap add-liquidity operation
      description: >-
        Adds token amounts to a liquidity pool using prepared signatures, fee fields, and slippage controls. Review both token amounts, expected LP, fee payment, and signatures before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick0
                - tick1
                - amount0
                - amount1
                - lp
                - slippage
                - ts
                - feeTick
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tick0:
                  type: string
                tick1:
                  type: string
                amount0:
                  description: Input amount of tick0
                  type: string
                amount1:
                  description: Input amount of tick1
                  type: string
                lp:
                  type: string
                slippage:
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  description: Pay type. Allowed values are tick and freeQuota.
                rememberPayType:
                  type: boolean
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - amount0
                      - amount1
                    type: object
                    properties:
                      id:
                        description: Function id
                        type: string
                      rollupInscriptionId:
                        description: The rollup inscription id where the function is located
                        type: string
                      address:
                        type: string
                      type:
                        type: string
                      tick0:
                        type: string
                      tick1:
                        type: string
                      amount0:
                        description: Input amount of tick0
                        type: string
                      amount1:
                        description: Input amount of tick1
                        type: string
                      lp:
                        type: string
                      ts:
                        type: number
                      success:
                        description: Operation success status
                        type: boolean
                      value:
                        description: Operation value
                        type: number
                      preResult:
                        description: Pre-operation result
                        type: object
                      result:
                        description: Operation result
                        type: object
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_remove_liq:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPreRemoveLiq
      summary: Prepare signatures and fee data for removing liquidity
      description: >-
        Returns signature ids, sign messages, fee fields, and expected token amounts for removing LP from an InSwap liquidity pool.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]

      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
        - schema:
            type: string
          in: query
          name: amount0
          required: true
          description: Input amount of tick0
        - schema:
            type: string
          in: query
          name: amount1
          required: true
          description: Input amount of tick1
        - schema:
            type: string
          in: query
          name: lp
          required: true
        - schema:
            type: string
          in: query
          name: slippage
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
        - schema:
            type: string
          in: query
          name: feeTick
          required: true
          description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
        - schema:
            enum:
              - tick
              - freeQuota
            type: string
          in: query
          name: payType
          required: false
          description: Pay type. Allowed values are tick and freeQuota.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                      feeTick:
                        description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                        type: string
                      totalFreeQuota:
                        description: Total free quota
                        type: string
                      remainingFreeQuota:
                        description: Remaining free quota
                        type: string
                      totalUsedFreeQuota:
                        description: Total used free quota
                        type: string
                      usageFreeQuota:
                        description: Usage free quota
                        type: string
                      hasVoucher:
                        description: Has voucher
                        type: boolean
                      assetFeeAmount:
                        description: Asset fee amount
                        type: string
                      assetFeeTick:
                        description: Asset fee tick
                        type: string
                      assetFeeTickPrice:
                        description: Asset fee tick price
                        type: string
                      assetFeeTickBalance:
                        description: Asset fee tick balance
                        type: string
                      reward0:
                        description: Reward amount for tick0
                        type: string
                      reward1:
                        description: Reward amount for tick1
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/remove_liq:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapRemoveLiq
      summary: Submit a signed InSwap remove-liquidity operation
      description: >-
        Removes LP from a liquidity pool using prepared signatures and fee fields, returning execution metadata. Review LP amount, expected token outputs, fee payment, and signatures before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick0
                - tick1
                - lp
                - amount0
                - amount1
                - slippage
                - ts
                - feeTick
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tick0:
                  type: string
                tick1:
                  type: string
                lp:
                  type: string
                amount0:
                  description: Input amount of tick0
                  type: string
                amount1:
                  description: Input amount of tick1
                  type: string
                slippage:
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  description: Pay type. Allowed values are tick and freeQuota.
                rememberPayType:
                  type: boolean
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - amount0
                      - amount1
                    type: object
                    properties:
                      id:
                        description: Function id
                        type: string
                      rollupInscriptionId:
                        description: The rollup inscription id where the function is located
                        type: string
                      address:
                        type: string
                      type:
                        type: string
                      tick0:
                        type: string
                      tick1:
                        type: string
                      amount0:
                        description: Input amount of tick0
                        type: string
                      amount1:
                        description: Input amount of tick1
                        type: string
                      lp:
                        type: string
                      ts:
                        type: number
                      success:
                        description: Operation success status
                        type: boolean
                      value:
                        description: Operation value
                        type: number
                      preResult:
                        description: Pre-operation result
                        type: object
                      result:
                        description: Operation result
                        type: object
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_send:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPreSend
      summary: Prepare signatures and fees for an InSwap token transfer
      description: >-
        Returns signature ids, sign messages, fee amount, fee tick price, fee balance, and USD fee value for transferring a tick amount to a recipient.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: true
          description: Send tick
        - schema:
            type: string
          in: query
          name: amount
          required: true
          description: The amount of send tick
        - schema:
            type: string
          in: query
          name: to
          required: true
          description: The receiver of send tick
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp (seconds)
        - schema:
            type: string
          in: query
          name: feeTick
          required: true
          description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
        - schema:
            enum:
              - tick
              - freeQuota
            type: string
          in: query
          name: payType
          required: false
          description: Pay type. Allowed values are tick and freeQuota.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_batch_send:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapPreBatchSend
      summary: Prepare signatures and fees for batch InSwap transfers
      description: >-
        Returns per-item signature ids, sign messages, and fee metadata for transferring multiple tick amounts to recipients in one batch workflow.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  required: true
                tick:
                  type: string
                  required: true
                  description: Send tick
                amount:
                  type: string
                  description: The amount of send tick. Either amount or amountList must be provided.
                amountList:
                  type: array
                  items:
                    type: string
                  description: Optional per-recipient amounts. When provided, its length must match to.
                to:
                  type: array
                  items:
                    type: string
                  required: true
                  description: The receiver of send tick
                ts:
                  type: number
                  required: true
                  description: Timestamp (seconds)
                feeTick:
                  type: string
                  required: true
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  required: false
                  description: Pay type. Allowed values are tick and freeQuota.
              required:
                - address
                - tick
                - to
                - ts
                - feeTick
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pre_swap:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPreSwap
      summary: Prepare signatures and fees for an InSwap token swap
      description: >-
        Returns signature ids, sign messages, fee fields, and fee-balance metadata for a quoted swap between input and output ticks.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tickIn
          required: true
          description: Input tick
        - schema:
            type: string
          in: query
          name: tickOut
          required: true
          description: Output tick
        - schema:
            type: string
          in: query
          name: amountIn
          required: true
          description: The amount of input tick
        - schema:
            type: string
          in: query
          name: amountOut
          required: true
          description: The amount of output tick
        - schema:
            type: string
          in: query
          name: slippage
          required: true
        - schema:
            enum:
              - exactIn
              - exactOut
            type: string
            example: exactIn
          in: query
          name: exactType
          required: true
        - schema:
            type: number
          in: query
          name: ts
          required: true
          description: Timestamp(seconds)
        - schema:
            type: string
          in: query
          name: feeTick
          required: true
          description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
        - schema:
            enum:
              - tick
              - freeQuota
              - assetFeeTick
            type: string
          in: query
          name: payType
          required: false
          description: Pay type. Allowed values are tick, freeQuota, and assetFeeTick.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - ids
                      - signMsgs
                    type: object
                    properties:
                      ids:
                        description: User signature id
                        type: array
                        items:
                          type: string
                      signMsgs:
                        description: User signature information
                        type: array
                        items:
                          type: string
                      feeAmount:
                        description: The fee that the user needs to pay
                        type: string
                      feeTickPrice:
                        description: The price of fee tick
                        type: string
                      feeBalance:
                        description: The user's fee tick balance
                        type: string
                      usdPrice:
                        description: The dollar value of the fee
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/send:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapSend
      summary: Submit a signed InSwap token transfer
      description: >-
        Transfers a tick amount from an address to one or more recipients using prepared signatures and fee fields. Review recipients, amounts, fee payment, and signatures before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick
                - to
                - ts
                - feeTick
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tick:
                  description: Send tick
                  type: string
                amount:
                  description: The amount of send tick. Either amount or amountList must be provided.
                  type: string
                amountList:
                  type: array
                  items:
                    type: string
                  description: Optional per-recipient amounts. When provided, its length must match to.
                to:
                  description: The receiver of send tick
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  description: Pay type. Allowed values are tick and freeQuota.
                rememberPayType:
                  type: boolean
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/batch_send:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapBatchSend
      summary: Submit signed batch InSwap token transfers
      description: >-
        Executes multiple prepared tick transfers in one request using per-item signatures and fee fields. Review every recipient, amount, fee payment, and signature before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tick
                - amount
                - to
                - ts
                - feeTick
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tick:
                  description: Send tick
                  type: string
                amount:
                  description: The amount of send tick
                  type: string
                to:
                  type: array
                  items:
                    type: string
                  required: true
                  description: The receiver of send tick
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                  type: string
                  description: Pay type. Allowed values are tick and freeQuota.
                rememberPayType:
                  type: boolean
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/swap:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapSwap
      summary: Submit a signed InSwap token swap
      description: >-
        Executes a prepared swap between input and output ticks with exact-in or exact-out semantics. Review quoted amounts, slippage, fee payment, and signatures before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
                - tickIn
                - tickOut
                - amountIn
                - amountOut
                - feeTick
                - slippage
                - exactType
                - ts
                - feeAmount
                - feeTickPrice
              type: object
              properties:
                address:
                  type: string
                tickIn:
                  description: Input tick
                  type: string
                tickOut:
                  description: Output tick
                  type: string
                amountIn:
                  description: The amount of input tick
                  type: string
                amountOut:
                  description: The amount of output tick
                  type: string
                feeTick:
                  description: Tick used as fee. Use /v1/brc20-swap/config to fetch available feeTicks.
                  type: string
                slippage:
                  type: string
                exactType:
                  enum:
                    - exactIn
                    - exactOut
                  type: string
                ts:
                  description: Timestamp (seconds)
                  type: number
                feeAmount:
                  description: The fee that the user needs to pay
                  type: string
                feeTickPrice:
                  description: The price of fee tick
                  type: string
                sigs:
                  description: User signature
                  type: array
                  items:
                    type: string
                payType:
                  enum:
                    - tick
                    - freeQuota
                    - assetFeeTick
                  type: string
                  description: Pay type. Allowed values are tick, freeQuota, and assetFeeTick.
                rememberPayType:
                  type: boolean
                assetFeeTick:
                  type: string
                  description: Required when payType is assetFeeTick. Used as the fee asset tick for swap.
                assetFeeAmount:
                  type: string
                  description: Required when payType is assetFeeTick. Fee amount charged in assetFeeTick.
                assetFeeTickPrice:
                  type: string
                  description: Required when payType is assetFeeTick. Price of assetFeeTick.
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        description: Function id
                        type: string
                      rollupInscriptionId:
                        description: The rollup inscription id where the function is located
                        type: string
                      address:
                        type: string
                      tickIn:
                        type: string
                      tickOut:
                        type: string
                      amountIn:
                        type: string
                      amountOut:
                        type: string
                      exactType:
                        type: string
                      ts:
                        type: number
                      success:
                        description: Operation success status
                        type: boolean
                      value:
                        description: Operation value
                        type: number
                      preResult:
                        description: Pre-operation result
                        type: object
                      result:
                        description: Operation result
                        type: object
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/pool_list:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapPoolList
      summary: List InSwap pools with TVL, volume, and reserves
      description: >-
        Returns paginated pool pairs with LP token, TVL, 24h/7d/30d volume, and reserve amounts for each token.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: search
          required: false
          description: Fuzzy matching
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            tick0:
                              type: string
                            tick1:
                              type: string
                            lp:
                              type: string
                            tvl:
                              description: Total pool value
                              type: string
                            volume24h:
                              type: string
                            volume7d:
                              type: string
                            volume30d:
                              description: 30 days volume
                              type: string
                            amount0:
                              description: Amount of tick0
                              type: string
                            amount1:
                              description: Amount of tick1
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/my_pool_list:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapMyPoolList
      summary: List an address's InSwap liquidity positions
      description: >-
        Returns paginated pool positions for an address, including LP amount, pool share, token amounts, and claimed or unclaimed rewards.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - amount0
                            - amount1
                          type: object
                          properties:
                            lp:
                              type: string
                            shareOfPool:
                              type: string
                            tick0:
                              type: string
                            tick1:
                              type: string
                            amount0:
                              description: Amount of tick0
                              type: string
                            amount1:
                              description: Amount of tick1
                              type: string
                            claimedReward0:
                              type: string
                            claimedReward1:
                              type: string
                            unclaimedReward0:
                              type: string
                            unclaimedReward1:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/my_pool:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapMyPool
      summary: Get an address's InSwap position in one pool
      description: >-
        Returns LP amount, pool share, token amounts, locked LP, and claimed or unclaimed rewards for a specific address and token pair.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick0
          required: true
        - schema:
            type: string
          in: query
          name: tick1
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - amount0
                      - amount1
                    type: object
                    properties:
                      lp:
                        type: string
                      shareOfPool:
                        type: string
                      tick0:
                        type: string
                      tick1:
                        type: string
                      amount0:
                        description: Amount of tick0
                        type: string
                      amount1:
                        description: Amount of tick1
                        type: string
                      lockedLp:
                        description: Locked LP amount
                        type: string
                      claimedReward0:
                        description: Claimed reward for tick0
                        type: string
                      claimedReward1:
                        description: Claimed reward for tick1
                        type: string
                      unclaimedReward0:
                        description: Unclaimed reward for tick0
                        type: string
                      unclaimedReward1:
                        description: Unclaimed reward for tick1
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/overview:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapOverview
      summary: Get InSwap liquidity, volume, transaction, and pair totals
      description: >-
        Returns protocol overview metrics including total liquidity, 24h and 7d volume, 24h transaction count, and number of active pairs.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      liquidity:
                        description: Total value of all pools
                        type: string
                      volume7d:
                        description: 7 days volume
                        type: string
                      volume24h:
                        description: 24 hours volume
                        type: string
                      transactions:
                        description: Number of transactions in 24 hours
                        type: number
                      pairs:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/gas_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapGasHistory
      summary: List InSwap gas fee history
      description: >-
        Returns paginated gas-fee records with function type, token pair, gas amount, fee tick, recipient address, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            maximum: 100
            exclusiveMaximum: true
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            funcType:
                              description: Function type
                              type: string
                              example: swap
                            tickA:
                              type: string
                            tickB:
                              type: string
                            gas:
                              type: string
                            tick:
                              description: Fee tick
                              type: string
                            to:
                              description: Recipient address
                              type: string
                            ts:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/send_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapSendHistory
      summary: List InSwap token transfer history
      description: >-
        Returns paginated transfer records filtered by address or tick, including token tick, amount, recipient, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: false
        - schema:
            type: string
          in: query
          name: tick
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            maximum: 100
            exclusiveMaximum: true
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            tick:
                              type: string
                            amount:
                              type: string
                            to:
                              type: string
                            ts:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/liq_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapLiqHistory
      summary: List InSwap add/remove liquidity history
      description: >-
        Returns paginated liquidity records with action type, token pair, token amounts, rewards, LP amount, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: false
        - schema:
            type: string
          in: query
          name: tick
          required: false
        - schema:
            enum:
              - add
              - remove
            type: string
          in: query
          name: type
          required: false
          description: Optional liquidity history type filter.
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            maximum: 100
            exclusiveMaximum: true
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            tick0:
                              type: string
                            tick1:
                              type: string
                            amount0:
                              type: string
                            amount1:
                              type: string
                            reward0:
                              description: Reward amount for tick0
                              type: string
                            reward1:
                              description: Reward amount for tick1
                              type: string
                            lp:
                              type: string
                            ts:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/swap_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapSwapHistory
      summary: List InSwap token swap history
      description: >-
        Returns paginated swap records filtered by address or tick, including input/output ticks, amounts, exact type, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: false
        - schema:
            type: string
          in: query
          name: tick
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            maximum: 100
            exclusiveMaximum: true
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tickIn
                            - tickOut
                            - amountIn
                            - amountOut
                          type: object
                          properties:
                            tickIn:
                              description: Input tick
                              type: string
                            tickOut:
                              description: Output tick
                              type: string
                            amountIn:
                              description: The amount of input tick
                              type: string
                            amountOut:
                              description: The amount of output tick
                              type: string
                            exactType:
                              type: string
                            ts:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/rollup_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapRollupHistory
      summary: List InSwap rollup inscription history
      description: >-
        Returns paginated rollup records with transaction id, block height, transaction count, inscription id, inscription number, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            exclusiveMaximum: true
            type: number
          in: query
          name: start
          required: true
        - schema:
            maximum: 1000
            exclusiveMaximum: true
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            txid:
                              type: string
                            height:
                              type: number
                            transactionNum:
                              description: Number of transactions in the inscription
                              type: number
                            inscriptionId:
                              description: Rollup inscription id
                              type: string
                            inscriptionNumber:
                              description: Rollup inscription number
                              type: number
                            ts:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/deposit_list:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapDepositList
      summary: List InSwap deposit records for an address
      description: >-
        Returns paginated deposit records with tick, amount, current and required confirmations, timestamp, txid, and deposit type.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            tick:
                              type: string
                            amount:
                              type: string
                            cur:
                              description: Current number of confirmations
                              type: number
                            sum:
                              description: Total number of confirmations
                              type: number
                            ts:
                              type: number
                            txid:
                              type: string
                            type:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/create_deposit:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapCreateDeposit
      summary: Build an InSwap deposit PSBT or bridge deposit draft
      description: >-
        Returns deposit signing material such as PSBT, deposit type, expiration timestamp, and recommended deposit amount for direct, matching, or bridge deposit flows.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]

      parameters:
        - schema:
            type: string
          in: query
          name: inscriptionId
          required: false
        - schema:
            type: string
          in: query
          name: pubkey
          required: true
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: string
          in: query
          name: amount
          required: false
          description: Required for bridge deposits.
        - schema:
            type: string
          in: query
          name: tick
          required: false
          description: Required for bridge deposits.
        - schema:
            enum:
              - btc
              - brc20
              - runes
              - alkanes
            type: string
          in: query
          name: assetType
          required: false
          description: Asset type. Required for bridge deposits.
        - schema:
            enum:
              - FRACTAL_BITCOIN_MAINNET
              - FRACTAL_BITCOIN_TESTNET
              - BITCOIN_MAINNET
              - BITCOIN_TESTNET
              - BITCOIN_TESTNET4
              - BITCOIN_SIGNET
            type: string
          in: query
          name: networkType
          required: false
          description: Network type. Required for bridge deposits.
        - schema:
            type: number
          in: query
          name: feeRate
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      psbt:
                        type: string
                      type:
                        description: Deposit type.
                        enum:
                          - direct
                          - matching
                          - bridge
                        type: string
                      expiredTimestamp:
                        type: number
                      recommendDeposit:
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/confirm_deposit:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapConfirmDeposit
      summary: Submit a signed InSwap deposit confirmation
      description: >-
        Confirms a prepared deposit using the signed PSBT and optional bridge metadata, returning the transaction id and remaining pending-confirmation count.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - psbt
              type: object
              properties:
                psbt:
                  type: string
                inscriptionId:
                  type: string
                pubkey:
                  type: string
                address:
                  type: string
                amount:
                  type: string
                tick:
                  type: string
                assetType:
                  enum:
                    - btc
                    - brc20
                    - runes
                    - alkanes
                  type: string
                networkType:
                  enum:
                    - FRACTAL_BITCOIN_MAINNET
                    - FRACTAL_BITCOIN_TESTNET
                    - BITCOIN_MAINNET
                    - BITCOIN_TESTNET
                    - BITCOIN_TESTNET4
                    - BITCOIN_SIGNET
                  type: string
                feeRate:
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      txid:
                        description: Transaction ID
                        type: string
                      pendingNum:
                        description: Number of pending confirmations
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/system_status:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapSystemStatus
      summary: Check whether InSwap rollup committing is active
      description: >-
        Returns the current system committing flag so clients can decide whether rollup-related operations are temporarily in progress.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      committing:
                        description: Is rollup inscription committing
                        type: boolean
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/withdraw_history:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapWithdrawHistory
      summary: List InSwap withdrawal records for an address
      description: >-
        Returns paginated withdrawal records with id, tick, total and completed amounts, confirmation progress, status, type, and timestamp.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: address
          required: true
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
        - schema:
            type: string
          in: query
          name: tick
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            tick:
                              type: string
                            totalAmount:
                              description: Total amount withdrawal
                              type: string
                            completedAmount:
                              description: The number of withdrawal completed
                              type: string
                            ts:
                              type: number
                            totalConfirmedNum:
                              description: The current number of confirmations
                              type: number
                            totalNum:
                              description: The total number of confirmations
                              type: number
                            status:
                              type: string
                            type:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/create_retry_withdraw:
    get:
      tags:
        - Swap-BRC20
      operationId: getBrc20SwapCreateRetryWithdraw
      summary: Build payment and approve PSBTs for retrying a withdrawal
      description: >-
        Returns payment PSBT, approve-inscription PSBT, and network fee required to retry a previously created withdrawal order.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-aliases: [InSwap, BRC20 Swap]
      parameters:
        - schema:
            type: string
          in: query
          name: id
          required: true
        - schema:
            type: string
          in: query
          name: pubkey
          required: true
        - schema:
            type: string
          in: query
          name: address
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      paymentPsbt:
                        description: The user psbt with payment
                        type: string
                      approvePsbt:
                        description: The user psbt with approve insctiption
                        type: string
                      networkFee:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/brc20-swap/confirm_retry_withdraw:
    post:
      tags:
        - Swap-BRC20
      operationId: postBrc20SwapConfirmRetryWithdraw
      summary: Submit signed PSBTs to retry an InSwap withdrawal
      description: >-
        Confirms a retry withdrawal order by submitting its id with signed payment and approve PSBTs. Verify the order id and both signed PSBTs before submission.
      x-unisat-domain: swap
      x-unisat-network: fractal
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-aliases: [InSwap, BRC20 Swap]
      requestBody:
        content:
          application/json:
            schema:
              required:
[...]
