openapi: 3.0.3
info:
  title: BRC-20 API
  version: 1.0.4
  description: >-
    BRC-20 API is a RESTful API for classic BRC-20 token data indexing and querying.
    It provides endpoints to retrieve information about classic BRC-20 tokens, including
    their status, holders, history, and more. Use these endpoints for classic BRC-20
    tickers such as ordi. Do not use these endpoints for BRC20-Prog 6-character tickers;
    use /v1/indexer/brc20-prog/* endpoints for BRC20-Prog data.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-testnet.unisat.io
  - url: https://open-api-testnet4.unisat.io
  - url: https://open-api-signet.unisat.io
  - url: https://open-api-fractal.unisat.io
  - url: https://open-api-fractal-testnet.unisat.io
tags:
  - name: BRC20 Indexer
    description: Classic BRC-20 token indexing and balance query APIs
paths:
  /v1/indexer/brc20/bestheight:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20BestHeight
      summary: "Get Classic BRC-20 indexer height and ticker total"
      description: >-
        Returns the latest indexed block height, block hash, block timestamp, and total Classic BRC-20 ticker count. Use it to check indexer freshness before reading token status, holders, history, or address balances; data may lag the chain tip and should not be used for BRC20-Prog 6-character tickers.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        description: best block height of brc20
                        type: integer
                      blockid:
                        description: best block id of brc20
                        type: string
                      timestamp:
                        description: timestamp of best block
                        type: integer
                      total:
                        description: total number of brc20 tickers
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/brc20/list:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20TickerList
      summary: "List indexed Classic BRC-20 tickers"
      description: >-
        Returns a paginated ticker list with total count and start offset for Classic BRC-20 discovery. Use these tickers with the Classic BRC-20 info, holder, history, and address-balance endpoints; route BRC20-Prog 6-character tickers to the brc20-prog API instead.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: not-recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        items:
                          type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/status:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20Status
      summary: "Search Classic BRC-20 ticker status and mint progress"
      description: >-
        Returns indexed Classic BRC-20 ticker status records including deployment metadata, minted supply, holder and history counts, and completion state. Use sort and completion filters for token discovery or ranking; balances are indexer-derived and may change as new blocks are processed.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: sort
          description: sort by (holders/deploy/minted/transactions)
          in: query
          required: false
          schema:
            type: string
            enum:
              - holders
              - deploy
              - minted
              - transactions
          example: "deploy"
        - name: complete
          description: filter by (completed or not)
          in: query
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20InfoItem"
        "401":
          description: Invalid API Key

  /v1/indexer/brc20/{ticker}/info:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20InfoByTicker
      summary: "Get Classic BRC-20 ticker deployment and supply info"
      description: >-
        Returns deployment inscription, creator, max supply, mint limit, decimals, minted amounts, holder count, and related history counts for one Classic BRC-20 ticker. Use this before showing token detail pages or validating ticker-level context; 6-character BRC20-Prog tickers are intentionally out of scope.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/BRC20InfoItem"

        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/holders:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HoldersByTicker
      summary: "List Classic BRC-20 holders and balances for a ticker"
      description: >-
        Returns holder addresses with overall, transferable, and available balances for the selected Classic BRC-20 ticker. Use it for holder distribution views or balance audits; values are indexed token balances and do not authorize transfers or create inscriptions.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            availableBalance:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByTicker
      summary: "List Classic BRC-20 history events for a ticker"
      description: >-
        Returns deploy, mint, transfer-inscription, send, and receive events with inscription, transaction, balance, height, and validity fields. Use it for token activity feeds or reconciliation at a height; invalid or unconfirmed protocol actions should be interpreted according to the returned validity and indexer state.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: height
          description: Block height
          in: query
          required: true
          schema:
            type: integer
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/{ticker}/tx/{txid}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByTickerAndTxid
      summary: "Get Classic BRC-20 ticker events in a transaction"
      description: >-
        Returns ticker-specific history events found in a transaction, including event type, inscription id, amount, counterparties, balances, and validity. Use it to explain how a transaction affected a Classic BRC-20 ticker; always treat returned balances as indexed results rather than spend authorization.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: txid
          description: txid
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20/history-by-height/{height}:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByHeight
      summary: "List Classic BRC-20 events indexed at a block height"
      description: >-
        Returns paginated Classic BRC-20 history events for a specific block height with ticker, transaction, inscription, amount, and validity details. Use it for block-level indexing audits or backfills; results represent the indexer's view of confirmed protocol events at that height.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: integer
          example: 818698
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: number
                      total:
                        type: integer
                      start:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"

        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20SummaryByAddress
      summary: "List an address's Classic BRC-20 token balances"
      description: >-
        Returns paginated Classic BRC-20 balance summaries for an address, including ticker, indexed height, total count, overall balance, transferable balance, and available balance. Use tick_filter to separate 4-, 5-, or 6-character Classic BRC-20 namespaces when needed; use brc20-prog endpoints for BRC20-Prog semantics.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
        - name: tick_filter
          description: ->
            filter by tick type
            8 - Returns only 4-character BRC20 tokens
            16 - Returns only 5-character BRC20 tokens
            32 - Returns only 6-character BRC20 tokens
            24 - Returns 4 and 5-character BRC20 tokens (bitwise combination 8 | 16)
            56 - Returns 4, 5, and 6-character BRC20 tokens (bitwise combination 8 | 16 | 32)
          in: query
          required: false
          schema:
            type: string
            enum:
              - 8
              - 16
              - 24
              - 32
              - 56
          example: 24
        - name: exclude_zero
          description: Exclude zero balance
          in: query
          required: false
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/summary-by-height/{height}:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20SummaryByAddressAndHeight
      summary: "List an address's Classic BRC-20 balances at a height"
      description: >-
        Returns the address's indexed Classic BRC-20 balance summaries as of a specific block height, including ticker, overall, transferable, and available balances. Use it for historical portfolio snapshots or reconciliation; balances are read-only indexer state and may differ from current spendability.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: height
          description: Block Height
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      height:
                        type: integer
                      start:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                            overallBalance:
                              type: string
                            transferableBalance:
                              type: string
                            availableBalance:
                              type: string
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/brc20/{ticker}/info:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20InfoByAddressAndTicker
      summary: "Get an address's Classic BRC-20 balance details for a ticker"
      description: >-
        Returns one address's overall, available, safe, unsafe, and transferable balances for a Classic BRC-20 ticker, plus related transfer inscriptions and history counts. Use it before building transfer flows or balance displays; this endpoint only reports indexed state and does not guarantee UTXO spend safety.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      ticker:
                        type: string
                      overallBalance:
                        type: string
                      availableBalance:
                        type: string
                      availableBalanceSafe:
                        type: string
                      availableBalanceUnSafe:
                        type: string
                      transferableBalance:
                        type: string
                      historyCount:
                        type: integer
                      historyInscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryInscription"
                      transferableCount:
                        type: integer
                      transferableInscriptions:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryInscription"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByAddress
      summary: "List all Classic BRC-20 history events for an address"
      description: >-
        Returns paginated Classic BRC-20 events involving an address across tickers, including event type, amount, counterparties, transaction, inscription, and balance fields. Use it for wallet activity timelines and audits; events are indexer-derived and should be checked for validity before user-facing accounting.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/brc20/{ticker}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20HistoryByAddressAndTicker
      summary: "List an address's Classic BRC-20 history for a ticker"
      description: >-
        Returns ticker-specific Classic BRC-20 events for an address with event type, transaction, inscription, amount, balance, height, and validity fields. Use it to explain wallet balance changes for one ticker; read the validity flag and confirmation context before treating events as final.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: type
          description: Filter by history type
          in: query
          required: true
          schema:
            type: string
            enum:
              - inscribe-deploy
              - inscribe-mint
              - inscribe-transfer
              - transfer
              - send
              - receive
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/BRC20HistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/brc20/{ticker}/transferable-inscriptions:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20TransferableInscriptionsByAddressAndTicker
      summary: "List transferable Classic BRC-20 inscriptions for an address"
      description: >-
        Returns unused transferable inscriptions for a Classic BRC-20 ticker with inscription id, inscription number, satoshi value, confirmations, and transfer amount payload. Use it to select candidate transfer inscriptions; callers must still validate UTXO ownership, confirmation policy, and signing context before spending.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          description: Classic BRC-20 ticker, such as ordi. Use brc20-prog endpoints for 6-character BRC20-Prog tickers.
          in: path
          required: true
          schema:
            type: string
        - name: start
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: limit
          description: Number of inscriptions returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        properties:
                          inscriptionNumber:
                            type: integer
                          inscriptionId:
                            type: string
                          satoshi:
                            type: integer
                          confirmations:
                            type: integer
                          data:
                            properties:
                              op:
                                type: string
                              tick:
                                type: string
                              lim:
                                type: string
                              amt:
                                type: string
                              decimal:
                                type: string
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key
  /v1/indexer/brc20-module/{module}/history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20ModuleHistoryByAddress
      summary: "List Classic BRC-20 module history for a module inscription"
      description: >-
        Returns module-related Classic BRC-20 events across a height range, including inscription, satpoint, address, amount, validity, and block metadata. Use it to inspect module deposit or movement workflows; this is an indexer audit view and does not submit withdrawals or transfers.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: module
          description: Address
          in: path
          required: true
          schema:
            type: string
          example: fd5bd482bed1b62d0702e2f19a1e3bdd4fb755fa5c9bed5d8d0f219a3219ee95i0
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/ModuleHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

  /v1/indexer/brc20-module/withdraw-history:
    get:
      tags:
        - BRC20 Indexer
      operationId: getBrc20WithdrawHistory
      summary: "List Classic BRC-20 module withdrawal history"
      description: >-
        Returns withdrawal-related module events within a height range, including inscription, satpoint, address, token amount, transaction, validity, and block metadata. Use it for module withdrawal monitoring and reconciliation; this endpoint is read-only and never creates, signs, or broadcasts withdrawals.
      x-unisat-domain: brc20
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only Classic BRC-20 query; never use for BRC20-Prog ticker semantics.
      parameters:
        - name: start
          description: Start height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End height
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start Offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of events returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/ModuleHistoryItem"
                      start:
                        type: integer
                      total:
                        type: integer
        "401":
          description: Invalid API Key

components:
  schemas:
    BRC20InfoItem:
      type: object
      properties:
        ticker:
          type: string
        creator:
          type: string
        totalMinted:
          type: string
        confirmedMinted:
          type: string
        confirmedMinted1h:
          type: string
        confirmedMinted24h:
          type: string
        completeBlocktime:
          type: integer
        completeHeight:
          type: integer
        inscriptionNumberEnd:
          type: integer
        inscriptionNumberStart:
          type: integer
        minted:
          type: string
        mintTimes:
          type: integer
        historyCount:
          type: integer
        holdersCount:
          type: integer
        txid:
          type: string
        deployHeight:
          type: integer
        deployBlocktime:
          type: integer
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
        max:
          type: string
        decimal:
          type: integer
        limit:
          type: string
    BRC20HistoryInscription:
      type: object
      properties:
        confirmations:
          type: integer
        data:
          type: object
          properties:
            amt:
              type: string
            decimal:
              type: string
            lim:
              type: string
            max:
              type: string
            minted:
              type: string
            op:
              type: string
            tick:
              type: string
            to:
              type: string
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
    BRC20HistoryItem:
      type: object
      properties:
        valid:
          type: boolean
        type:
          type: string
        from:
          type: string
        to:
          type: string
        amount:
          type: string
        overallBalance:
          type: string
        availableBalance:
          type: string
        transferBalance:
          type: string
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
        height:
          type: integer
        blockhash:
          type: string
        blocktime:
          type: integer
        txIdx:
          type: integer
        txid:
          type: string
        satoshi:
          type: integer
        offset:
          type: integer
    ModuleHistoryItem:
      type: object
      properties:
        type:
          type: string
        valid:
          type: boolean
        txid:
          type: string
        idx:
          type: number
        vout:
          type: number
        offset:
          type: integer
        inscriptionNumber:
          type: integer
        inscriptionId:
          type: string
        contentType:
          type: string
        contentBody:
          type: string
        oldSatPoint:
          type: string
        newSatPoint:
          type: string
        from:
          type: string
        to:
          type: string
        satoshi:
          type: integer
        data:
          type: object
          properties:
            tick:
              type: string
            amount:
              type: string
        height:
          type: integer
        txidx:
          type: integer
        blockhash:
          type: string
        blocktime:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
