openapi: 3.0.3
info:
  title: Collection Indexer API
  version: 1.0.4
  description: >-
    Collection Indexer API provides read-only collection indexing endpoints for collection status, collection details, holders, address collection summaries, and collection item ownership. It is separate from marketplace listing and order APIs.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
    description: Mainnet endpoint for public.
tags:
  - name: Collection Indexer
    description: Read-only collection metadata, ownership, and item query APIs
paths:
  /v1/collection-indexer/collection/status:
    get:
      tags:
        - Collection Indexer
      operationId: getCollectionStatus
      summary: "Get collection indexer height and collection count"
      description: >-
        Returns newest chain height, last handled indexer height, and total indexed collections. Use it to check freshness before reading collection metadata, holder lists, address collection summaries, or item ownership; this indexer is separate from marketplace listing and order state.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      newestHeight:
                        type: number
                      lastHandledHeight:
                        type: number
                      totalCollection:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/collection/{collectionId}/info:
    get:
      tags:
        - Collection Indexer
      operationId: getCollectionInfo
      summary: "Get collection supply and holder summary"
      description: >-
        Returns a collection's indexed height, holder count, and total item count, optionally at a specified height. Use it for lightweight collection detail headers or historical snapshots; marketplace floor, listings, and order activity are not included.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: string
          in: path
          name: collectionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      height:
                        type: number
                      holders:
                        type: number
                      totalItems:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/collection/{collectionId}/holders:
    get:
      tags:
        - Collection Indexer
      operationId: getCollectionHolders
      summary: "List collection holders and item counts"
      description: >-
        Returns paginated holder addresses and item counts for a collection, optionally at a specified height. Use it for holder distribution views and ownership analytics; it reflects indexed ownership only and does not include marketplace listing state.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
        - schema:
            type: string
          in: path
          name: collectionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            count:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/address/{address}/collection/list:
    get:
      tags:
        - Collection Indexer
      operationId: getAddressCollectionList
      summary: "List collections owned by an address"
      description: >-
        Returns paginated collection summaries for an address, including owned item count, collection name, icon inscription and URL, content type, supply, collection id, description, and social links. Use it for wallet collection portfolios; it does not report listing or order availability.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
        - schema:
            type: string
          in: path
          name: address
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            count:
                              type: number
                            name:
                              type: string
                            iconInscription:
                              type: string
                            iconUrl:
                              type: string
                            iconContentType:
                              type: string
                            supply:
                              type: string
                            collectionId:
                              type: string
                            desc:
                              type: string
                            twitter:
                              type: string
                            discord:
                              type: string
                            website:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/collection/{collectionId}/items:
    get:
      tags:
        - Collection Indexer
      operationId: getCollectionItems
      summary: "List indexed items in a collection"
      description: >-
        Returns paginated collection item records with inscription id and number, item and inscription names, content metadata, indexed height, holder count, and collection totals. Use it for collection item grids or metadata backfills; content bodies may be untrusted and should be rendered safely.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
        - schema:
            type: string
          in: path
          name: collectionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            inscriptionId:
                              type: string
                            collectionId:
                              type: string
                            collectionItemName:
                              type: string
                            inscriptionIndex:
                              type: number
                            inscriptionNumber:
                              type: number
                            inscriptionName:
                              type: string
                            contentBody:
                              type: string
                            contentLength:
                              type: number
                            contentType:
                              type: string
                            height:
                              type: number
                            holders:
                              type: number
                            totalItems:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/address/{address}/collection/{collectionId}/summary:
    get:
      tags:
        - Collection Indexer
      operationId: getAddressCollectionSummary
      summary: "Get an address's ownership summary for a collection"
      description: >-
        Returns the address's item count plus collection name, icon, supply, collection id, description, and social links for one collection. Use it for wallet collection detail cards or ownership verification; marketplace order state and listing prices are not included.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: string
          in: path
          name: address
          required: true
        - schema:
            type: string
          in: path
          name: collectionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      count:
                        type: number
                      name:
                        type: string
                      iconInscription:
                        type: string
                      iconUrl:
                        type: string
                      iconContentType:
                        type: string
                      supply:
                        type: string
                      collectionId:
                        type: string
                      desc:
                        type: string
                      twitter:
                        type: string
                      discord:
                        type: string
                      website:
                        type: string
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/address/{address}/collection/{collectionId}/items:
    get:
      tags:
        - Collection Indexer
      operationId: getAddressCollectionItems
      summary: "List collection items owned by an address"
      description: >-
        Returns paginated item records that an address owns within a collection, including inscription id and number, item name, content metadata, indexed height, and collection totals. Use it for wallet item galleries; ownership can change with new transfers, so recheck before signing or listing transactions.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: number
          in: query
          name: height
          required: false
        - schema:
            type: number
          in: query
          name: start
          required: true
        - schema:
            type: number
          in: query
          name: limit
          required: true
        - schema:
            type: string
          in: path
          name: address
          required: true
        - schema:
            type: string
          in: path
          name: collectionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            inscriptionId:
                              type: string
                            collectionId:
                              type: string
                            collectionItemName:
                              type: string
                            inscriptionIndex:
                              type: number
                            inscriptionNumber:
                              type: number
                            inscriptionName:
                              type: string
                            contentBody:
                              type: string
                            contentLength:
                              type: number
                            contentType:
                              type: string
                            height:
                              type: number
                            holders:
                              type: number
                            totalItems:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v1/collection-indexer/inscription/{inscriptionId}/collection/list:
    get:
      tags:
        - Collection Indexer
      operationId: getInscriptionCollectionList
      summary: "List collections containing an inscription"
      description: >-
        Returns collection summaries associated with an inscription, including name, icon, supply, collection id, description, and social links. Use it to map an inscription to curated collection contexts; inscription ids or numbers may resolve differently across networks, so match the request to the intended chain.
      x-unisat-domain: collections
      x-unisat-network: bitcoin
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only collection indexer query; marketplace listings and orders are out of scope.
      parameters:
        - schema:
            type: string
          in: path
          name: inscriptionId
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            iconInscription:
                              type: string
                            iconUrl:
                              type: string
                            iconContentType:
                              type: string
                            supply:
                              type: string
                            collectionId:
                              type: string
                            desc:
                              type: string
                            twitter:
                              type: string
                            discord:
                              type: string
                            website:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
