openapi: 3.0.3
info:
  title: Ordinals Domain Marketplace API
  version: 1.0.4
  description: >-
    This API provides endpoints for Ordinals domain marketplace services, including domain type statistics, domain listing search, inscription details, activity history, and marketplace order workflows.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-fractal.unisat.io
tags:
  - name: Marketplace-Domains
    description: Ordinals Domain Marketplace Service
paths:
  /v3/market/domain/auction/domain_types:
    post:
      operationId: getDomainTypes
      summary: List domain type market statistics
      description: Query read-only Ordinals domain marketplace statistics grouped by domain type. This query-style POST only reads market data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            btcVolume:
                              type: number
                            btcVolumePercent:
                              type: number
                            amountVolume:
                              type: number
                            curPrice:
                              type: integer
                            domainType:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/domain/auction/domain_statistic:
    post:
      operationId: getDomainStatistic
      summary: Get domain type category statistics
      description: Query read-only marketplace statistics for categories under a specified Ordinals domain type. This query-style POST only reads market data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - domainType
              type: object
              properties:
                domainType:
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            demo:
                              type: string
                            domainCategory:
                              type: string
                            total:
                              type: integer

                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/domain/auction/inscription_info:
    post:
      operationId: getDomainInscriptionInfo
      summary: Get marketplace inscription detail
      description: Query read-only marketplace inscription detail for one inscription, including listing and asset metadata. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoResponse"
  /v3/market/domain/auction/inscription_info_list:
    post:
      operationId: getDomainInscriptionInfoList
      summary: Get marketplace inscription details in batch
      description: Query read-only marketplace listing details for multiple inscriptions. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoListRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoListResponse"
  /v3/market/domain/auction/list:
    post:
      operationId: getDomainMarketList
      summary: Search Ordinals domain marketplace listings
      description: Query read-only Ordinals domain marketplace listings with filters, sorting, and pagination. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - domain
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    domainType:
                      enum:
                        - sats
                        - unisat
                        - btc
                        - xbt
                        - ord
                        - gm
                        - bitmap
                        - x
                      type: string
                    domainMinLength:
                      minimum: 0
                      exclusiveMinimum: true
                      type: number
                    domainMaxLength:
                      type: integer
                    domainCategory:
                      type: string
                    domainFuzzy:
                      description: Fuzzy domain name search
                      type: string
                    collectionId:
                      type: string
                    collectionFuzzy:
                      description: Fuzzy collection name search
                      type: string
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            notSupport:
                              description: Domain name content support on sale
                              type: boolean
                            verification:
                              description: Whether the collection is validated
                              type: boolean
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                            collectionId:
                              description: Collection field
                              type: string
                              nullable: true
                            contentType:
                              description: Collection field
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionHighResImgUrl:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionName:
                              description: Collection field
                              type: string
                              nullable: true
                            notOnSale:
                              description: Collection field
                              type: boolean
                              nullable: true
                            domain:
                              description: Domain field
                              type: string
                              nullable: true
                            domainHex:
                              description: Domain field
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain field
                              type: string
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/domain/auction/actions:
    post:
      operationId: getDomainMarketActions
      summary: List Ordinals domain marketplace activity history
      description: Query read-only Ordinals domain marketplace activity history such as listings, delistings, sales, claims, and updates. This query-style POST only reads marketplace data; readonly true and requires confirmation false.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Safe query-style POST: call without extra confirmation when required request parameters are provided.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    nftType:
                      enum:
                        - domain
                      type: string
                    address:
                      type: string
                    inscriptionId:
                      type: string
                    event:
                      enum:
                        - Cancel
                        - Claim
                        - Listed
                        - Sold
                        - Updated
                      description: "Event type: Cancel, Listed, Sold, Updated"
                      type: string
                    tick:
                      type: string
                    domainType:
                      type: string
                    collectionId:
                      type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - auctionId
                            - inscriptionId
                            - inscriptionNumber
                            - event
                            - price
                            - from
                            - to
                            - timestamp
                          type: object
                          properties:
                            auctionId:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            event:
                              enum:
                                - Listed
                                - Sold
                                - Cancel
                                - Claim
                                - Updated
                              type: string
                            price:
                              type: number
                            from:
                              type: string
                            to:
                              type: string
                              nullable: true
                            timestamp:
                              type: number
                            nftConfirmNum:
                              type: number
                            nftType:
                              enum:
                                - brc20
                                - domain
                                - collection
                              type: string
                            endMsg:
                              description: An error message generated by the order
                              type: string
                              nullable: true
                            newest:
                              description: The update order generates multiple events
                              type: boolean
                            name:
                              description: Brc20 filed
                              type: string
                              nullable: true
                            unitPrice:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            domain:
                              description: Domain filed
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain filed
                              type: string
                              nullable: true
                            domainCategorys:
                              description: Domain filed
                              type: array
                              items:
                                enum:
                                  - Keyboard
                                  - Non Keyboard
                                  - 1-99
                                  - 3D
                                  - 4D
                                  - 5D
                                  - Single Emoji
                                  - Multi Emoji
                                  - Common Word
                                  - 1 Letter + 1 Number
                                  - 2 Letters
                                  - 3 Letters
                                  - Numbers
                                type: string
                              nullable: true
                            collectionId:
                              description: Collection filed
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentType:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection filed
                              type: string
                              nullable: true
                            attributes:
                              description: Collection filed
                              type: array
                              items:
                                type: object
                                properties:
                                  trait_type:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: false
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/domain/auction/create_put_on:
    post:
      operationId: createDomainMarketPutOn
      summary: Create domain listing PSBT draft
      description: Creates an Ordinals domain listing draft and returns auctionId, PSBT, and signing indexes for the seller. Review inscriptionId, domain name/type/category, initPrice, unitPrice, marketType, and receiving address before signing or confirming the listing.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOnResponse"
  /v3/market/domain/auction/confirm_put_on:
    post:
      operationId: confirmDomainMarketPutOn
      summary: Publish signed domain listing
      description: Confirms the seller-signed listing PSBT and activates the Ordinals domain marketplace listing. Verify auctionId, PSBT encoding, domain name, listing price, seller address, and market type before submitting.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOnResponse"
  /v3/market/domain/auction/create_bid_prepare:
    post:
      operationId: createDomainMarketBidPrepare
      summary: Estimate domain purchase fees and balance
      description: Returns pre-purchase fee estimates, available balances, network fee rate, transaction size, and inscription value for an Ordinals domain listing. This is a quote/material preparation step only; before any later purchase submission, verify auctionId, bidPrice, buyer address, feeRate, and domain name.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Quote-only marketplace step: safe to call without confirmation, but do not treat the returned estimate as a purchase.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidPrepareResponse"
  /v3/market/domain/auction/create_bid:
    post:
      operationId: createDomainMarketBid
      summary: Create domain purchase PSBT order
      description: Creates an Ordinals domain purchase order and returns bidId, PSBT data, signing indexes, server/network fees, feeRate, and inscription value. Confirm auctionId, bidPrice, buyer address, domain name/type, and fee totals before requesting signatures.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidResponse"
  /v3/market/domain/auction/confirm_bid:
    post:
      operationId: confirmDomainMarketBid
      summary: Submit signed domain purchase order
      description: Submits the signed domain purchase PSBT and returns the settlement transaction id when accepted. Before calling, verify auctionId, bidId, PSBT content, final price, domain name, buyer/seller addresses, and fee values because this can settle the purchase.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBidResponse"
  /v3/market/domain/auction/create_put_off:
    post:
      operationId: createDomainMarketPutOff
      summary: Create domain delisting PSBT draft
      description: Creates delisting signing material for an active Ordinals domain marketplace order, including PSBT/signing data when needed. Confirm auctionId, owner addresses, and domain name before signing because the next confirmation removes the listing.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOffResponse"
  /v3/market/domain/auction/confirm_put_off:
    post:
      operationId: confirmDomainMarketPutOff
      summary: Remove signed domain listing
      description: Confirms signed delisting data and removes the Ordinals domain listing from the marketplace. Verify auctionId, PSBT/signature payload, owner address, and target domain name before submitting.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOffResponse"
  /v3/market/domain/auction/create_modify_price:
    post:
      operationId: createDomainMarketModifyPrice
      summary: Create domain price-update PSBT draft
      description: Creates signing material to update an existing Ordinals domain listing price. Verify auctionId, domain name, old and new prices, seller address, and returned PSBT/sign indexes before signing.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateModifyPriceResponse"
  /v3/market/domain/auction/confirm_modify_price:
    post:
      operationId: confirmDomainMarketModifyPrice
      summary: Apply signed domain listing price update
      description: Confirms signed price-update data and changes the active Ordinals domain listing price. Verify auctionId, signed PSBT, domain name, seller address, and final price before submitting.
      tags:
        - Marketplace-Domains
      x-unisat-domain: marketplace
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: false
      x-unisat-requires-confirmation: true
      x-unisat-ai-hints:
        - State-changing marketplace workflow: ask for explicit user confirmation before calling.
        - Confirmation step: ensure PSBT/signature payload was reviewed and signed by the user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmModifyPriceResponse"

components:
  schemas:
    MarketInscriptionInfoRequest:
      required:
        - inscriptionId
      type: object
      properties:
        inscriptionId:
          type: string
      additionalProperties: false
    MarketInscriptionInfoResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - inscriptionId
          type: object
          properties:
            auctionId:
              type: string
              nullable: true
            inscriptionId:
              type: string
            inscriptionNumber:
              type: number
              nullable: true
            marketType:
              type: string
              example: fixedPrice
              nullable: true
            address:
              type: string
              nullable: true
            price:
              type: number
              nullable: true
            notSupport:
              description: Domain name content support on sale
              type: boolean
            verification:
              description: Whether the collection is validated
              type: boolean
            nftType:
              type: string
              nullable: true
            tick:
              description: Brc20 field
              type: string
              nullable: true
            limit:
              description: Brc20 field
              type: number
              nullable: true
            amount:
              description: Brc20 field
              type: number
              nullable: true
            unitPrice:
              description: Brc20 field
              type: number
              nullable: true
            collectionId:
              description: Collection field
              type: string
              nullable: true
            contentType:
              description: Collection field
              type: string
              nullable: true
            contentBody:
              description: Collection field
              type: string
              nullable: true
            collectionItemName:
              description: Collection field
              type: string
              nullable: true
            collectionHighResImgUrl:
              description: Collection field
              type: string
              nullable: true
            collectionName:
              description: Collection field
              type: string
              nullable: true
            notOnSale:
              description: Collection field
              type: boolean
              nullable: true
            domain:
              description: Domain field
              type: string
              nullable: true
            domainHex:
              description: Domain field
              type: string
              nullable: true
            domainType:
              enum:
                - sats
                - unisat
                - btc
                - xbt
                - ord
                - gm
                - bitmap
                - x
                - null
              description: Domain field
              type: string
              nullable: true
            utxo:
              description: The UTXO where the inscription is located
              type: object
              properties: {}
              additionalProperties: false
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketInscriptionInfoListRequest:
      type: object
      properties:
        address:
          type: string
        inscriptionIds:
          type: array
          items:
            type: string
      additionalProperties: false
    MarketInscriptionInfoListResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - list
          type: object
          properties:
            list:
              type: array
              items:
                required:
                  - inscriptionId
                type: object
                properties:
                  auctionId:
                    type: string
                    nullable: true
                  inscriptionId:
                    type: string
                  inscriptionNumber:
                    type: number
                    nullable: true
                  marketType:
                    type: string
                    nullable: true
                  address:
                    type: string
                    nullable: true
                  price:
                    type: number
                    nullable: true
                  nftType:
                    type: string
                    nullable: true
                  status:
                    type: string
                additionalProperties: false
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreatePutOnRequest:
      required:
        - inscriptionId
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        inscriptionId:
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - auction
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false
    MarketCreatePutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - auctionId
            - psbt
            - signIndexes
          type: object
          properties:
            auctionId:
              type: string
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmPutOnRequest:
      required:
        - auctionId
        - psbt
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBidPrepareRequest:
      required:
        - auctionId
        - bidPrice
        - address
        - pubkey
      type: object
      properties:
        auctionId:
          type: string
        bidPrice:
          type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
      additionalProperties: false
    MarketCreateBidPrepareResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties:
            serverFee:
              description: Expected service fee.
              type: number
            serverReal:
              description: Real service fee.
              type: number
            serverFeeRate:
              description: Real service fee rate.
              type: number
            txSize:
              description: Estimated transaction size
              type: number
            nftValue:
              description: Satoshis carried by the inscription
              type: number
            feeRate:
              description: Network fee rate
              type: number
            availableBalance:
              description: Available confirmed balance for the user
              type: number
            allBalance:
              description: Available total balance for the user
              type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBidRequest:
      required:
        - auctionId
        - bidPrice
        - address
        - pubkey
      type: object
      properties:
        auctionId:
          type: string
        bidPrice:
          type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
        feeRate:
          description: The user sets the rate
          type: number
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
      additionalProperties: false
    MarketCreateBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - bidId
            - psbtBid
            - serverFee
            - networkFee
            - feeRate
            - nftValue
          type: object
          properties:
            bidId:
              type: string
            psbtBid:
              description: Bid psbt
              type: string
            psbtBid2:
              description: Auction mode is used, and the current empty string can be passed
              type: string
            psbtSettle:
              description: Auction mode is used, and the current empty string can be passed
              type: string
            serverFee:
              description: The service fee charged by the platform
              type: number
            networkFee:
              description: BTC network total fee
              type: number
            feeRate:
              description: BTC network fee rate
              type: number
            nftValue:
              type: number
            bidSignIndexes:
              description: Specifies the bid signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBidRequest:
      required:
        - auctionId
        - bidId
        - psbtBid
      type: object
      properties:
        auctionId:
          type: string
        bidId:
          type: string
        psbtBid:
          type: string
        psbtBid2:
          description: Auction mode is used, and the current empty string can be passed
          type: string
        psbtSettle:
          description: Auction mode is used, and the current empty string can be passed
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              description: Transaction txid
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreatePutOffRequest:
      required:
        - auctionId
      type: object
      properties:
        auctionId:
          type: string
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address.
          type: string
        btcPubkey:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. The public key used in the inscription of the order.
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
        rbf:
          type: boolean
        offChain:
          type: boolean
      additionalProperties: false
    MarketCreatePutOffResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - psbt
          type: object
          properties:
            psbt:
              type: string
            txSize:
              type: number
            btcSignIndexes:
              description: Specifies the btc signature location used by the xverse wallet
              type: array
              items:
                type: number
            nftSignIndexes:
              description: Specifies the nft signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmPutOffRequest:
      required:
        - auctionId
        - psbt
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
        offChain:
          type: boolean
      additionalProperties: false
    MarketConfirmPutOffResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateModifyPriceRequest:
      required:
        - auctionId
        - initPrice
        - unitPrice
      type: object
      properties:
        auctionId:
          type: string
        initPrice:
          type: string
        unitPrice:
          type: string
      additionalProperties: false
    MarketCreateModifyPriceResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - psbt
            - signIndexes
          type: object
          properties:
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmModifyPriceRequest:
      required:
        - auctionId
        - psbt
        - fromBase64
      type: object
      properties:
        auctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          type: boolean
      additionalProperties: false
    MarketConfirmModifyPriceResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    BindInfoRequest:
      required:
        - address
      type: object
      properties:
        address:
          type: string
      additionalProperties: false
    BindInfoResponse:
      required:
        - btcAddress
        - nftAddress
      type: object
      properties:
        btcAddress:
          type: string
        nftAddress:
          type: string
      additionalProperties: false
    RunesMarketCreatePutOnRequest:
      required:
        - txid
        - index
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        txid:
          description: The txid of the rune utxo txid
          type: string
        index:
          description: The txid of the rune utxo index
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false
    AlkanesMarketCreatePutOnRequest:
      required:
        - txid
        - index
        - initPrice
        - unitPrice
        - pubkey
        - marketType
      type: object
      properties:
        nftType:
          type: string
        txid:
          description: The txid of the alkanes utxo txid
          type: string
        index:
          description: The txid of the alkanes utxo index
          type: string
        initPrice:
          description: Set the initial total price
          type: string
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        marketType:
          enum:
            - fixedPrice
          type: string
          example: fixedPrice
        # auctionTime:
        #   description: Auction mode optional, setting time of the order
        #   type: number
        # maxPrice:
        #   description: Auction mode optional, setting max price of the order
        #   type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
      additionalProperties: false

    MarketCreateBatchPutOnRequest:
      required:
        - unitPrice
        - pubkey
      type: object
      properties:
        unitPrice:
          description: Unit Price (for tick)
          type: string
        pubkey:
          description: User public key
          type: string
        nftType:
          type: string
        btcAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Specifies the BTC receive address
          type: string
        utxos:
          description: Custom utxo
          type: array
          items:
            type: object
            properties:
              txid:
                type: string
              index:
                type: number
      additionalProperties: false
    MarketCreateBatchPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - auctionId
            - psbt
            - signIndexes
          type: object
          properties:
            batchAuctionId:
              type: string
            psbt:
              type: string
            signIndexes:
              description: Specifies the signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBatchPutOnRequest:
      required:
        - batchAuctionId
        - psbt
      type: object
      properties:
        batchAuctionId:
          type: string
        psbt:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBatchPutOnResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties: {}
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBatchBidPrepareRequest:
      required:
        - auctionIds
        - address
        - pubkey
      type: object
      properties:
        auctionIds:
          type: array
          items:
            type: string
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
      additionalProperties: false
    MarketCreateBatchBidPrepareResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          type: object
          properties:
            serverFee:
              description: Expected service fee.
              type: number
            serverReal:
              description: Real service fee.
              type: number
            serverFeeRate:
              description: Real service fee rate.
              type: number
            txSize:
              description: Estimated transaction size
              type: number
            feeRate:
              description: Network fee rate
              type: number
            availableBalance:
              description: Available confirmed balance for the user
              type: number
            validAuctionIds:
              type: array
              items:
                type: string
            invalidAuctionIds:
              type: array
              items:
                type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketCreateBatchBidRequest:
      required:
        - auctionIds
        - bidPrices
        - address
        - pubkey
      type: object
      properties:
        auctionIds:
          type: array
          items:
            type: string
        bidPrices:
          type: array
          items:
            type: number
        address:
          description: Bidder address
          type: string
        pubkey:
          description: Bidder pubkey
          type: string
        feeRate:
          description: The user sets the rate
          type: number
        nftAddress:
          description: (Optional) Only for multi-address wallet, such as Xverse, hiro. Inscription receiving address
          type: string
      additionalProperties: false
    MarketCreateBatchBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - bidId
            - psbtBid
            - serverFee
            - networkFee
            - feeRate
            - bidSignIndexes
          type: object
          properties:
            bidId:
              type: string
            psbtBid:
              description: Bid psbt
              type: string
            serverFee:
              description: The service fee charged by the platform
              type: number
            networkFee:
              description: BTC network total fee
              type: number
            feeRate:
              description: BTC network fee rate
              type: number
            bidSignIndexes:
              description: Specifies the bid signature location used by the xverse wallet
              type: array
              items:
                type: number
          additionalProperties: false
      required:
        - msg
        - code
        - data
    MarketConfirmBatchBidRequest:
      required:
        - bidId
        - psbtBid
      type: object
      properties:
        bidId:
          type: string
        psbtBid:
          type: string
        fromBase64:
          description: Is Base64 format, the default is hex format
          type: boolean
      additionalProperties: false
    MarketConfirmBatchBidResponse:
      type: object
      properties:
        code:
          type: number
        msg:
          type: string
        data:
          required:
            - txid
          type: object
          properties:
            txid:
              description: Transaction txid
              type: string
          additionalProperties: false
      required:
        - msg
        - code
        - data

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
