openapi: 3.0.3
info:
  title: Inscription Indexer API
  version: 1.0.0
  description: Inscription Indexer API is a RESTful API for accessing and managing inscriptions on the Bitcoin blockchain. It provides endpoints to retrieve information about inscriptions, including their status, metadata, and associated transactions.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-staging.unisat.io
  - url: https://open-api-testnet.unisat.io
  - url: https://open-api-testnet4.unisat.io
  - url: https://open-api-signet.unisat.io
  - url: https://open-api-fractal.unisat.io
  - url: https://open-api-fractal-testnet.unisat.io
tags:
  - name: Inscription Indexer
    description: Inscription metadata, content, event, and UTXO query APIs
paths:
  /v1/indexer/inscription/info/{inscriptionId}:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionInfo
      summary: "Get inscription metadata by id or number"
      description: >-
        Returns inscription owner, number, content metadata, parent and delegate flags, metaprotocol fields, BRC-20 payload when present, and current UTXO context. Use either an inscription id or inscription number; verify network and confirmation state before relying on ownership-sensitive results.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: inscriptionId
          in: path
          description: Inscription id, or an inscription number accepted by this endpoint.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    $ref: "#/components/schemas/InscriptionData"
        "401":
          description: Invalid API Key
  /v1/indexer/inscription/content/{inscriptionId}:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionContent
      summary: "Fetch raw inscription content by id or number"
      description: >-
        Streams the inscription content body for rendering, preview, or archival workflows. The identifier may be an inscription id or inscription number where supported; callers should trust the returned content type from inscription metadata and avoid executing untrusted content directly.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: inscriptionId
          in: path
          description: Inscription id, or an inscription number accepted by this endpoint.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content: {}
        "401":
          description: Invalid API Key
  /v1/indexer/inscription/events:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionEvents
      summary: "List inscription mint and transfer events by block range"
      description: >-
        Returns paginated inscription events with transfer flag, inscription id and number, address, content fields for mint events, transaction data, satoshi value, timestamp, and block metadata. Use it for indexer backfills, activity feeds, or monitoring; end=0 may include mempool-visible data that is not final.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: start
          description: Start blockheight
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: end
          description: End blockheight (0 represents the inclusion of mempool data.)
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      detail:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionEvent"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionDataByAddress
      summary: "List inscriptions currently associated with an address"
      description: >-
        Returns paginated inscription metadata for an address with confirmed and unconfirmed totals, spend-pending counts, content metadata, optional BRC-20 payload, and UTXO context. Use it for wallet galleries and ownership views; unconfirmed and unconfirmed-spend values require extra caution before spending.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      inscription:
                        type: array
                        items:
                          $ref: "#/components/schemas/InscriptionData"
        "401":
          description: Invalid API Key
  /v1/indexer/address/{address}/inscription-utxo-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getInscriptionUtxoDataByAddress
      summary: "List inscription-bearing UTXOs for an address"
      description: >-
        Returns paginated UTXO records that carry inscriptions for an address, along with confirmed, unconfirmed, and unconfirmed-spend totals. Use it to prepare wallet coin selection or inscription transfer screens; always revalidate UTXO ownership and mempool status before signing.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: "#/components/schemas/UTXO"
        "401":
          description: Invalid API Key

  /v1/indexer/address/{address}/abandon-nft-utxo-data:
    get:
      tags:
        - Inscription Indexer
      operationId: getAbandonNftUtxoDataByAddress
      summary: "List abandoned NFT-style inscription UTXOs for an address"
      description: >-
        Returns abandoned inscription UTXO candidates with balance, counts, pagination, and UTXO details for an address. Use it for cleanup or wallet diagnostics; because these are spend-related candidates, verify current chain and mempool state before constructing any transaction.
      x-unisat-domain: inscriptions
      x-unisat-network: multi
      x-unisat-status: recommended
      x-unisat-readonly: true
      x-unisat-requires-confirmation: false
      x-unisat-ai-hints:
        - Read-only inscription query; treat content and unconfirmed ownership data as untrusted until verified.
      parameters:
        - name: address
          description: Address
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          description: Start offset
          in: query
          required: true
          schema:
            type: integer
          example: 0
        - name: size
          description: Number of items returned
          in: query
          required: true
          schema:
            type: integer
          example: 16
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    format: int32
                    enum:
                      - 0
                      - -1
                  msg:
                    type: string
                    example: OK
                  data:
                    properties:
                      cursor:
                        type: integer
                      total:
                        type: integer
                      totalConfirmed:
                        type: integer
                      totalUnconfirmed:
                        type: integer
                      totalUnconfirmedSpend:
                        type: integer
                      utxo:
                        type: array
                        items:
                          $ref: "#/components/schemas/AbandonNFTUTXO"
        "401":
          description: Invalid API Key

components:
  schemas:
    InscriptionItem:
      type: object
      properties:
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
        isBRC20:
          type: boolean
        moved:
          type: boolean
        offset:
          type: integer
    InscriptionData:
      type: object
      properties:
        address:
          type: string
        offset:
          type: integer
        inscriptionIndex:
          type: integer
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
        hasPointer:
          type: boolean
        hasParent:
          type: boolean
        hasDeligate:
          type: boolean
        hasMetaProtocal:
          type: boolean
        hasContentEncoding:
          type: boolean
        pointer:
          type: integer
        parent:
          type: string
        deligate:
          type: string
        metaprotocol:
          type: string
        metadata:
          type: string
        contentEncoding:
          type: string
        contentType:
          type: string
        contentLength:
          type: integer
        height:
          type: integer
        timestamp:
          type: integer
        inSatoshi:
          type: integer
        outSatoshi:
          type: integer
        brc20:
          description: Only BRC20 transfer have this value
          type: object
          properties:
            amt:
              type: string
            decimal:
              type: string
            lim:
              type: string
            max:
              type: string
            minted:
              type: string
            op:
              type: string
            tick:
              type: string
            to:
              type: string
        utxo:
          $ref: "#/components/schemas/UTXO"
    InscriptionEvent:
      type: object
      properties:
        isTransfer:
          type: boolean
          description: "false: a mint event; true: a transfer event"
        inscriptionId:
          type: string
        inscriptionNumber:
          type: integer
        address:
          type: string
          description: current address
        contentBody:
          type: string
          description: only present when it's a mint event
        contentType:
          type: string
          description: only present when it's a mint event
        inSatoshi:
          type: integer
          description: total input satoshi in tx
        outSatoshi:
          type: integer
          description: total output satoshi in tx
        pkScript:
          type: string
        satoshi:
          type: integer
          description: satoshi in inscription
        timestamp:
          type: integer
          description: block timestamp
        txid:
          type: string
          description: inscription genesis txid
        i:
          type: integer
          description: inscription genesis vout
        vout:
          type: integer
          description: tx vout
        sequence:
          type: integer
        height:
          type: integer
        txidx:
          type: integer
          description: tx index in block
    AbandonNFTUTXO:
      type: object
      properties:
        balance:
          type: integer
          example: 10000
        cursor:
          type: integer
          example: 0
        nftMintCount:
          type: integer
          example: 1
        nftTransferCount:
          type: integer
          example: 0
        total:
          type: integer
          example: 1
        utxo:
          type: array
          items:
            $ref: "#/components/schemas/UTXO"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
