openapi: 3.0.3
info:
  title: MarketPlace API
  version: 1.0.4
  description: >-
    This is UniSat Wallet Open API. If you wish to use the OpenAPI, please feel
    free to send us an email, and we will provide you with an API KEY.
  contact:
    email: contact@unisat.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://open-api.unisat.io
  - url: https://open-api-testnet.unisat.io
  - url: https://open-api-fractal.unisat.io
  - url: https://open-api-fractal-testnet.unisat.io
tags:
  - name: MarketPlace-BRC20
    description: BRC20 MarketPlace Service
  - name: MarketPlace-Collection
    description: Collection MarketPlace Service
  - name: MarketPlace-Domain
    description: Domain MarketPlace Service
  - name: MarketPlace-Runes
    description: Runes MarketPlace Service
  - name: MarketPlace-Alkanes
    description: Alkanes MarketPlace Service
paths:
  /v3/market/brc20/auction/bind_info:
    post:
      summary: Get the address bind info.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindInfoRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BindInfoResponse"

  /v3/market/brc20/auction/brc20_kline:
    post:
      summary: Get tick k line.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - tick
                - timeStart
                - timeEnd
                - timeStep
              type: object
              properties:
                tick:
                  type: string
                timeStart:
                  description: Start time range
                  type: number
                timeEnd:
                  description: End time range
                  type: number
                timeStep:
                  description: Time granularity, such as milliseconds for a 5-minute interval
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        price:
                          type: number
                        timestamp:
                          type: number
                      additionalProperties: false
                required:
                  - msg
                  - code
                  - data

  /v3/market/brc20/auction/brc20_types:
    post:
      summary: Get statistical data, price, market capitalization, etc. for BRC20.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tickLen:
                  type: number
                  enum:
                    - 4
                    - 5
                  example: 4
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  description: "Optional: day1, day7, day30"
                  type: string
                ticks:
                  description: Specify a list of ticks
                  type: array
                  items:
                    type: string
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - BTCPrice
                    type: object
                    properties:
                      BTCPrice:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                      deploy:
                        description: The first three deployments of tick
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                      cap:
                        description: The top three tick by market capitalization
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/brc20_types_specified:
    post:
      summary: Get statistical data, price, market capitalization, etc. for BRC20.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  type: string
                tick:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick:
                        type: string
                      curPrice:
                        type: number
                      changePrice:
                        type: number
                      btcVolume:
                        type: number
                      amountVolume:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/bind:
    post:
      summary: Bind btcAddress and nftAddress.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - btcAddress
                - nftAddress
                - sign
              type: object
              properties:
                btcAddress:
                  type: string
                nftAddress:
                  type: string
                sign:
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties: {}
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/list:
    post:
      summary: Retrieve the list information of the market.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/inscription_info:
    post:
      summary:
        Retrieve inscription information, including brc20, names, collection.
        It is necessary to first determine the inscription type before calling
        the relevant services.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoResponse"
  /v3/market/brc20/auction/inscription_info_list:
    post:
      summary: Get the basic listing information of the specified inscription list
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoListRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoListResponse"
  /v3/market/brc20/auction/actions:
    post:
      summary: Get information on listings, delistings, and sales.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    inscriptionId:
                      type: string
                    event:
                      enum:
                        - Cancel
                        - Claim
                        - Listed
                        - Sold
                        - Updated
                      description: "Event type: Cancel, Listed, Sold, Updated"
                      type: string
                    tick:
                      type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - auctionId
                            - inscriptionId
                            - inscriptionNumber
                            - event
                            - price
                            - from
                            - to
                            - timestamp
                          type: object
                          properties:
                            auctionId:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            event:
                              enum:
                                - Listed
                                - Sold
                                - Cancel
                                - Claim
                                - Updated
                              type: string
                            price:
                              type: number
                            from:
                              type: string
                            to:
                              type: string
                              nullable: true
                            timestamp:
                              type: number
                            nftConfirmNum:
                              type: number
                            nftType:
                              enum:
                                - brc20
                                - domain
                                - collection
                              type: string
                            endMsg:
                              description: An error message generated by the order
                              type: string
                              nullable: true
                            newest:
                              description: The update order generates multiple events
                              type: boolean
                            name:
                              description: Brc20 filed
                              type: string
                              nullable: true
                            unitPrice:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            domain:
                              description: Domain filed
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain filed
                              type: string
                              nullable: true
                            domainCategorys:
                              description: Domain filed
                              type: array
                              items:
                                enum:
                                  - Keyboard
                                  - Non Keyboard
                                  - 1-99
                                  - 3D
                                  - 4D
                                  - 5D
                                  - Single Emoji
                                  - Multi Emoji
                                  - Common Word
                                  - 1 Letter + 1 Number
                                  - 2 Letters
                                  - 3 Letters
                                  - Numbers
                                type: string
                              nullable: true
                            collectionId:
                              description: Collection filed
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentType:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection filed
                              type: string
                              nullable: true
                            attributes:
                              description: Collection filed
                              type: array
                              items:
                                type: object
                                properties:
                                  trait_type:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: false
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/brc20/auction/create_put_on:
    post:
      summary: Create listing order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOnResponse"
  /v3/market/brc20/auction/confirm_put_on:
    post:
      summary: Confirm listing order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOnResponse"
  /v3/market/brc20/auction/create_bid_prepare:
    post:
      summary: Return params before creating purchase order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidPrepareResponse"
  /v3/market/brc20/auction/create_bid:
    post:
      summary: Create purchase order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidResponse"
  /v3/market/brc20/auction/confirm_bid:
    post:
      summary: Confirm purchase order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBidResponse"
  /v3/market/brc20/auction/create_put_off:
    post:
      summary: Create delisting order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOffResponse"
  /v3/market/brc20/auction/confirm_put_off:
    post:
      summary: Confirm delisting order.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOffResponse"
  /v3/market/brc20/auction/create_modify_price:
    post:
      summary: Create the order for price adjustment.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateModifyPriceResponse"
  /v3/market/brc20/auction/confirm_modify_price:
    post:
      summary: Confirm the order for price adjustment.
      tags:
        - MarketPlace-BRC20
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmModifyPriceResponse"

  /v3/market/runes/auction/runes_types:
    post:
      summary: Get statistical data, price, market capitalization, etc. for runes.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  description: "Optional: day1, day7, day30"
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - BTCPrice
                    type: object
                    properties:
                      BTCPrice:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                            holders:
                              type: integer
                            transactions:
                              type: integer
                            warning:
                              type: boolean
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/runes_types_specified:
    post:
      summary: Get statistical data, price, market capitalization, etc. for Runes.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  type: string
                tick:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick:
                        type: string
                      symbol:
                        type: string
                      curPrice:
                        type: number
                      changePrice:
                        type: number
                      btcVolume:
                        type: number
                      amountVolume:
                        type: number
                      cap:
                        type: string
                      capUSD:
                        type: string
                      deployTime:
                        type: integer
                      holders:
                        type: integer
                      number:
                        type: integer
                      transactions:
                        type: integer
                      warning:
                        type: boolean
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/list:
    post:
      summary: Retrieve the list information of the market.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/actions:
    post:
      summary: Get information on listings, delistings, and sales.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    inscriptionId:
                      type: string
                    event:
                      enum:
                        - Cancel
                        - Claim
                        - Listed
                        - Sold
                        - Updated
                      description: "Event type: Cancel, Listed, Sold, Updated"
                      type: string
                    tick:
                      type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - auctionId
                            - inscriptionId
                            - inscriptionNumber
                            - event
                            - price
                            - from
                            - to
                            - timestamp
                          type: object
                          properties:
                            auctionId:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            event:
                              enum:
                                - Listed
                                - Sold
                                - Cancel
                                - Claim
                                - Updated
                              type: string
                            price:
                              type: number
                            from:
                              type: string
                            to:
                              type: string
                              nullable: true
                            timestamp:
                              type: number
                            nftConfirmNum:
                              type: number
                            nftType:
                              enum:
                                - brc20
                                - domain
                                - collection
                              type: string
                            endMsg:
                              description: An error message generated by the order
                              type: string
                              nullable: true
                            newest:
                              description: The update order generates multiple events
                              type: boolean
                            name:
                              description: Brc20 filed
                              type: string
                              nullable: true
                            unitPrice:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            domain:
                              description: Domain filed
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain filed
                              type: string
                              nullable: true
                            domainCategorys:
                              description: Domain filed
                              type: array
                              items:
                                enum:
                                  - Keyboard
                                  - Non Keyboard
                                  - 1-99
                                  - 3D
                                  - 4D
                                  - 5D
                                  - Single Emoji
                                  - Multi Emoji
                                  - Common Word
                                  - 1 Letter + 1 Number
                                  - 2 Letters
                                  - 3 Letters
                                  - Numbers
                                type: string
                              nullable: true
                            collectionId:
                              description: Collection filed
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentType:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection filed
                              type: string
                              nullable: true
                            attributes:
                              description: Collection filed
                              type: array
                              items:
                                type: object
                                properties:
                                  trait_type:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: false
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/runes/auction/create_put_on:
    post:
      summary: Create listing order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunesMarketCreatePutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOnResponse"
  /v3/market/runes/auction/confirm_put_on:
    post:
      summary: Confirm listing order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOnResponse"
  /v3/market/runes/auction/create_bid_prepare:
    post:
      summary: Return params before creating purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidPrepareResponse"
  /v3/market/runes/auction/create_bid:
    post:
      summary: Create purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidResponse"
  /v3/market/runes/auction/confirm_bid:
    post:
      summary: Confirm purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBidResponse"
  /v3/market/runes/auction/create_put_off:
    post:
      summary: Create delisting order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOffResponse"
  /v3/market/runes/auction/confirm_put_off:
    post:
      summary: Confirm delisting order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOffResponse"
  /v3/market/runes/auction/create_modify_price:
    post:
      summary: Create the order for price adjustment.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateModifyPriceResponse"
  /v3/market/runes/auction/confirm_modify_price:
    post:
      summary: Confirm the order for price adjustment.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmModifyPriceResponse"
  /v3/market/runes/auction/create_batch_put_on:
    post:
      summary: Create batch listing order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchPutOnResponse"
  /v3/market/runes/auction/confirm_batch_put_on:
    post:
      summary: Confirm batch listing order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchPutOnResponse"
  /v3/market/runes/auction/create_batch_bid_prepare:
    post:
      summary: Return params before creating purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidPrepareResponse"
  /v3/market/runes/auction/create_batch_bid:
    post:
      summary: Create purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidResponse"
  /v3/market/runes/auction/confirm_batch_bid:
    post:
      summary: Confirm purchase order.
      tags:
        - MarketPlace-Runes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchBidResponse"

  /v3/market/alkanes/auction/alkanes_types:
    post:
      summary: Get statistical data, price, market capitalization, etc. for alkanes.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  description: "Optional: day1, day7, day30"
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - BTCPrice
                    type: object
                    properties:
                      BTCPrice:
                        type: number
                      list:
                        type: array
                        items:
                          required:
                            - tick
                            - curPrice
                            - changePrice
                            - btcVolume
                            - amountVolume
                            - cap
                          type: object
                          properties:
                            tick:
                              type: string
                            curPrice:
                              type: number
                            changePrice:
                              type: number
                            btcVolume:
                              type: number
                            amountVolume:
                              type: number
                            cap:
                              type: string
                            holders:
                              type: integer
                            transactions:
                              type: integer
                            warning:
                              type: boolean
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/alkanes/auction/alkanes_types_specified:
    post:
      summary: Get statistical data, price, market capitalization, etc. for Alkanes.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                timeType:
                  enum:
                    - day1
                    - day7
                    - day30
                  type: string
                tick:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      tick:
                        type: string
                      symbol:
                        type: string
                      curPrice:
                        type: number
                      changePrice:
                        type: number
                      btcVolume:
                        type: number
                      amountVolume:
                        type: number
                      cap:
                        type: string
                      capUSD:
                        type: string
                      deployTime:
                        type: integer
                      holders:
                        type: integer
                      number:
                        type: integer
                      transactions:
                        type: integer
                      warning:
                        type: boolean
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/alkanes/auction/list:
    post:
      summary: Retrieve the list information of the market.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/alkanes/auction/actions:
    post:
      summary: Get information on listings, delistings, and sales.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
              type: object
              properties:
                filter:
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                      type: string
                    address:
                      type: string
                    inscriptionId:
                      type: string
                    event:
                      enum:
                        - Cancel
                        - Claim
                        - Listed
                        - Sold
                        - Updated
                      description: "Event type: Cancel, Listed, Sold, Updated"
                      type: string
                    tick:
                      type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - auctionId
                            - inscriptionId
                            - inscriptionNumber
                            - event
                            - price
                            - from
                            - to
                            - timestamp
                          type: object
                          properties:
                            auctionId:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            event:
                              enum:
                                - Listed
                                - Sold
                                - Cancel
                                - Claim
                                - Updated
                              type: string
                            price:
                              type: number
                            from:
                              type: string
                            to:
                              type: string
                              nullable: true
                            timestamp:
                              type: number
                            nftConfirmNum:
                              type: number
                            nftType:
                              enum:
                                - brc20
                                - domain
                                - collection
                              type: string
                            endMsg:
                              description: An error message generated by the order
                              type: string
                              nullable: true
                            newest:
                              description: The update order generates multiple events
                              type: boolean
                            name:
                              description: Brc20 filed
                              type: string
                              nullable: true
                            unitPrice:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 filed
                              type: number
                              nullable: true
                            domain:
                              description: Domain filed
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain filed
                              type: string
                              nullable: true
                            domainCategorys:
                              description: Domain filed
                              type: array
                              items:
                                enum:
                                  - Keyboard
                                  - Non Keyboard
                                  - 1-99
                                  - 3D
                                  - 4D
                                  - 5D
                                  - Single Emoji
                                  - Multi Emoji
                                  - Common Word
                                  - 1 Letter + 1 Number
                                  - 2 Letters
                                  - 3 Letters
                                  - Numbers
                                type: string
                              nullable: true
                            collectionId:
                              description: Collection filed
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentType:
                              description: Collection filed
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection filed
                              type: string
                              nullable: true
                            attributes:
                              description: Collection filed
                              type: array
                              items:
                                type: object
                                properties:
                                  trait_type:
                                    type: string
                                  value:
                                    type: string
                                additionalProperties: false
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/alkanes/auction/create_put_on:
    post:
      summary: Create listing order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlkanesMarketCreatePutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOnResponse"
  /v3/market/alkanes/auction/confirm_put_on:
    post:
      summary: Confirm listing order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOnResponse"
  /v3/market/alkanes/auction/create_bid_prepare:
    post:
      summary: Return params before creating purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidPrepareResponse"
  /v3/market/alkanes/auction/create_bid:
    post:
      summary: Create purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBidResponse"
  /v3/market/alkanes/auction/confirm_bid:
    post:
      summary: Confirm purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBidResponse"
  /v3/market/alkanes/auction/create_put_off:
    post:
      summary: Create delisting order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreatePutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreatePutOffResponse"
  /v3/market/alkanes/auction/confirm_put_off:
    post:
      summary: Confirm delisting order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmPutOffRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmPutOffResponse"
  /v3/market/alkanes/auction/create_modify_price:
    post:
      summary: Create the order for price adjustment.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateModifyPriceResponse"
  /v3/market/alkanes/auction/confirm_modify_price:
    post:
      summary: Confirm the order for price adjustment.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmModifyPriceRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmModifyPriceResponse"
  /v3/market/alkanes/auction/create_batch_put_on:
    post:
      summary: Create batch listing order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchPutOnResponse"
  /v3/market/alkanes/auction/confirm_batch_put_on:
    post:
      summary: Confirm batch listing order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchPutOnRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchPutOnResponse"
  /v3/market/alkanes/auction/create_batch_bid_prepare:
    post:
      summary: Return params before creating purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidPrepareRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidPrepareResponse"
  /v3/market/alkanes/auction/create_batch_bid:
    post:
      summary: Create purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketCreateBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketCreateBatchBidResponse"
  /v3/market/alkanes/auction/confirm_batch_bid:
    post:
      summary: Confirm purchase order.
      tags:
        - MarketPlace-Alkanes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketConfirmBatchBidRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketConfirmBatchBidResponse"

  /v3/market/collection/auction/collection_statistic:
    post:
      summary: Return a summary of collection.
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - collectionId
              type: object
              properties:
                collectionId:
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      collectionId:
                        type: string
                      name:
                        description: Collection name
                        type: string
                      desc:
                        description: Collection desc
                        type: string
                      icon:
                        description: Collection icon
                        type: string
                      iconContentType:
                        description: Collection icon content type
                        type: string
                      btcValue:
                        description: Total transaction volume
                        type: number
                      floorPrice:
                        type: number
                      pricePercent:
                        type: number
                      listed:
                        description: The quantity listed for sale
                        type: number
                      total:
                        description: The quantity of items already produced
                        type: number
                      supply:
                        type: number
                      twitter:
                        type: string
                      discord:
                        type: string
                      website:
                        type: string
                      verification:
                        description: Officially certified
                        type: boolean
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/collection/auction/collection_statistic_list:
    post:
      summary: Return a summary of collection.
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - timeType
                  type: object
                  properties:
                    timeType:
                      type: string
                    name:
                      type: string
                    collections:
                      type: array
                      items:
                        type: string
                  additionalProperties: false
                start:
                  type: number
                limit:
                  maximum: 21
                  exclusiveMaximum: true
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            collectionId:
                              type: string
                            name:
                              description: Collection name
                              type: string
                            desc:
                              description: Collection desc
                              type: string
                            icon:
                              description: Collection icon
                              type: string
                            iconContentType:
                              description: Collection icon content type
                              type: string
                            btcValue:
                              description: Total transaction volume
                              type: number
                            floorPrice:
                              type: number
                            pricePercent:
                              type: number
                            listed:
                              description: The quantity listed for sale
                              type: number
                            total:
                              description: The quantity of items already produced
                              type: number
                            supply:
                              type: number
                            twitter:
                              type: string
                            discord:
                              type: string
                            website:
                              type: string
                            verification:
                              description: Officially certified
                              type: boolean
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/collection/auction/collection_summary:
    post:
      summary: Get the collection statistics information at a certain address
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - address
              type: object
              properties:
                firstCollectionId:
                  type: string
                address:
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            collectionId:
                              type: string
                            icon:
                              type: string
                            iconContentType:
                              type: string
                            name:
                              type: string
                            total:
                              type: number
                          additionalProperties: false
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/collection/auction/collection_inscriptions:
    post:
      summary: Get the list details of a certain collection at a certain address
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - collectionId
                - address
                - start
                - limit
              type: object
              properties:
                collectionId:
                  type: string
                address:
                  type: string
                start:
                  type: number
                limit:
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            collectionId:
                              type: string
                            collectionName:
                              type: string
                            collectionItemName:
                              type: string
                            collectionHighResImgUrl:
                              type: string
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                            contentType:
                              type: string
                            listed:
                              type: boolean
                          additionalProperties: false
                      total:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/collection/auction/inscription_info:
    post:
      summary:
        Retrieve inscription information, including brc20, names, collection.
        It is necessary to first determine the inscription type before calling
        the relevant services.
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoResponse"
  /v3/market/collection/auction/inscription_info_list:
    post:
      summary: Get the basic listing information of the specified inscription list
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarketInscriptionInfoListRequest"
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInscriptionInfoListResponse"
  /v3/market/collection/auction/list:
    post:
      summary: Retrieve the list information of the market.
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - sort
                - start
                - limit
              type: object
              properties:
                filter:
                  required:
                    - nftType
                  type: object
                  properties:
                    nftType:
                      enum:
                        - brc20
                        - domain
                        - collection
                      type: string
                    address:
                      type: string
                    tick:
                      type: string
                    minPrice:
                      type: number
                    maxPrice:
                      type: number
                    nftConfirm:
                      type: boolean
                    isEnd:
                      description: Whether order ends
                      type: boolean
                    domainType:
                      enum:
                        - sats
                        - unisat
                        - btc
                        - xbt
                        - ord
                        - gm
                        - bitmap
                        - x
                      type: string
                    domainMinLength:
                      minimum: 0
                      exclusiveMinimum: true
                      type: number
                    domainMaxLength:
                      type: integer
                    domainCategory:
                      type: string
                    domainFuzzy:
                      description: Fuzzy domain name search
                      type: string
                    collectionId:
                      type: string
                    collectionFuzzy:
                      description: Fuzzy collection name search
                      type: string
                    all:
                      description: Ignore start and limit and return all collection data
                      type: boolean
                  additionalProperties: false
                sort:
                  type: object
                  properties:
                    unitPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    onSaleTime:
                      enum:
                        - 1
                        - -1
                      type: number
                    initPrice:
                      enum:
                        - 1
                        - -1
                      type: number
                    inscriptionNumber:
                      enum:
                        - 1
                        - -1
                      type: number
                  additionalProperties: false
                start:
                  description: The data is looked up from start
                  type: number
                limit:
                  maximum: 100
                  exclusiveMaximum: true
                  description: Limit the amount of data
                  type: number
              additionalProperties: false
        required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  msg:
                    type: string
                  data:
                    required:
                      - list
                      - total
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          required:
                            - inscriptionId
                          type: object
                          properties:
                            auctionId:
                              type: string
                              nullable: true
                            inscriptionId:
                              type: string
                            inscriptionNumber:
                              type: number
                              nullable: true
                            marketType:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            price:
                              type: number
                              nullable: true
                            notSupport:
                              description: Domain name content support on sale
                              type: boolean
                            verification:
                              description: Whether the collection is validated
                              type: boolean
                            nftType:
                              type: string
                              nullable: true
                            tick:
                              description: Brc20 field
                              type: string
                              nullable: true
                            limit:
                              description: Brc20 field
                              type: number
                              nullable: true
                            amount:
                              description: Brc20 field
                              type: number
                              nullable: true
                            unitPrice:
                              description: Brc20 field
                              type: number
                              nullable: true
                            collectionId:
                              description: Collection field
                              type: string
                              nullable: true
                            contentType:
                              description: Collection field
                              type: string
                              nullable: true
                            contentBody:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionItemName:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionHighResImgUrl:
                              description: Collection field
                              type: string
                              nullable: true
                            collectionName:
                              description: Collection field
                              type: string
                              nullable: true
                            notOnSale:
                              description: Collection field
                              type: boolean
                              nullable: true
                            domain:
                              description: Domain field
                              type: string
                              nullable: true
                            domainHex:
                              description: Domain field
                              type: string
                              nullable: true
                            domainType:
                              enum:
                                - sats
                                - unisat
                                - btc
                                - xbt
                                - ord
                                - gm
                                - bitmap
                                - x
                                - null
                              description: Domain field
                              type: string
                              nullable: true
                          additionalProperties: false
                      total:
                        type: number
                      timestamp:
                        type: number
                    additionalProperties: false
                required:
                  - msg
                  - code
                  - data
  /v3/market/collection/auction/actions:
    post:
      summary: Get information on listings, delistings, and sales.
      tags:
        - MarketPlace-Collection
      requestBody:
        content:
          application/json:
            schema:
              required:
                - filter
                - start
                - limit
[...]
